/**
 * create by hongss for search page on 2011.09.27
 */
.terms-message .message .hide-tag { background:url("http://img.china.alibaba.com/cms/upload/other/dcms/dcms-header.png") no-repeat; }

.booth-management{
     margin-left: 18px;
     padding-top:12px;
}
.booth-management h3{
    line-height: 38px;
    font-size: 14px;
    font-weight: 700;
    color:#000;
    height:38px;
}
.dcms-form {
    padding-bottom:20px;
}
.dcms-form label { width:86px;}
.dcms-content .related-pages,
.dcms-content .operation-log{
    margin-top: 16px;
}
.dcms-content .related-pages h3,
.dcms-content .operation-log h3{
    line-height: 26px;
    /*font-size: 14px;*/
    font-weight: 700;
    color:#666;
}
.booth-management .dcms-search-line-list-input{
	margin-top:24px;
}
.booth-management .dcms-search-line-list-input li { float:left; padding-right:12px;}
.booth-management .dcms-search-line-list-input select { border: 1px solid #bdc7d8; margin: 4px 0; font-size: 12px; padding: 3px; width:115px; height:24px;}
.booth-management .dcms-search-line-list-input select.dcms-host-name { width:234px;}
.dcms-content .dcms-form input[type="text"] { width: 240px; }
.booth-management tfoot td.dcms-page-module {
    height:48px;
    line-height:48px;
    text-align: right;
    padding-right:12px;
}
.booth-management tfoot .dcms-jump-page { width:24px;}
.booth-management tfoot .dcms-page-btn { margin:0;}
.booth-management tfoot a.pages:link, .booth-management tfoot a.pages:visited { color:#4C6BAC; text-decoration:underline;}
.booth-management .dcms-search-line-list-input .dcms-btn { margin-top:4px;}

.dcms-content .dcms-grid { width:826px;}
.dcms-content .dcms-grid .word-all { word-break:break-all;}


