#sys-mbauth .fd-clr {
    zoom: 1;
}

#sys-mbauth .fd-clr:after {
    display: block;
    clear: both;
    height: 0;
    content: "\0020";
}

#sys-mbauth {
    padding: 5px;
    width: 414px;
    background-color: #A1A1A1;
}

#sys-mbauth .send {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    text-decoration: none !important;
}

#sys-mbauth .send span {
    display: block;
    float: left;
    height: 100%;
    background: url(http://img.china.alibaba.com/images/common/icon_v02/btn3.png) no-repeat;
    cursor: pointer;
}

#sys-mbauth .send .btn-l {
    padding-left: 2px;
    background-position: left top;
}

#sys-mbauth .send .btn-r {
    width: 2px;
    background-position: right top;
}

#sys-mbauth .send em {
    padding: 0 4px;
    font: normal 12px / 22px "\5B8B\4F53";
    color: #333 !important;
}

#sys-mbauth .send:hover .btn-l {
    background-position: left -22px;
}

#sys-mbauth .send:hover .btn-r {
    background-position: right -22px;
}

#sys-mbauth .send-disabled .btn-l {
    background-position: left top !important;
}

#sys-mbauth .send-disabled .btn-r {
    background-position: right top !important;
}

#sys-mbauth .send-disabled, #sys-mbauth .send-disabled button, #sys-mbauth .send-disabled span {
    cursor: default !important;
}

#sys-mbauth .send-disabled em {
    color: #999 !important;
}

#sys-mbauth a {
    color: #06C;
    text-decoration: none;
}

#sys-mbauth a:hover {
    color: #FF7300;
    text-decoration: underline;
}

#sys-mbauth .wrap {
    width: 412px;
    border: solid 1px #777;
    background-color: #FFF;
    line-height: 1.5;
}

#sys-mbauth .title {
    padding: 0 8px;
    border-bottom: solid 1px #DCDCDC;
    background: url(http://img.china.alibaba.com/images/app/member/common/bg2.gif) repeat-x;
}

#sys-mbauth .title .close {
    display: block;
    float: right;
    margin-top: 6px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    background: url(http://img.china.alibaba.com/cms/upload/member/close3.gif) no-repeat;
    cursor: pointer;
}

#sys-mbauth .title .close:hover {
    background-position: 0 -18px;
}

#sys-mbauth h3 {
    float: left;
    padding: 8px 0;
    height: 15px;
}

#sys-mbauth .box {
    padding: 8px;
}

#sys-mbauth input {
    vertical-align: middle;
}

#sys-mbauth ul {
    padding-left: 54px;
    border-bottom: solid 1px #DCDCDC;
    height: 21px;
}

#sys-mbauth li {
    float: left;
    width: 72px;
    height: 21px;
    line-height: 20px;
    border-top: solid 1px #FFF;
    text-align: center;
    color: #0166CE;
    cursor: default;
}

#sys-mbauth li.current {
    position: relative;
    border: solid 1px #DCDCDC;
    border-bottom: 0 none;
    background: #FFF url(http://img.china.alibaba.com/images/app/member/common/bg1.gif) repeat-x;
    font-weight: bold;
    color: #333;
}

#sys-mbauth fieldset {
    padding-bottom: 16px;
}

#sys-mbauth .free {
    display: block;
    position: absolute;
    z-index: 1;
    width: 29px;
    height: 14px;
    overflow: hidden;
    text-indent: -100px;
    right: -24px;
    top: -1px;
    background: url(http://img.china.alibaba.com/images/common/icon_v02/free1.gif) no-repeat;
}

#sys-mbauth .mspan {
    line-height: 24px;
}

#sys-mbauth button {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0 none;
    background: none;
}

#sys-mbauth .submit {
    display: block;
    float: left;
    overflow: hidden;
    height: 32px;
    text-decoration: none !important;
    margin-left: 2px;
}

#sys-mbauth .submit span {
    display: block;
    float: left;
    height: 32px;
    background: url(http://img.china.alibaba.com/images/common/icon_v02/btn2.png) no-repeat;
    cursor: pointer;
}

#sys-mbauth .submit .btn-l {
    padding-left: 2px;
    background-position: left top;
}

#sys-mbauth .submit .btn-r {
    width: 2px;
    background-position: right top;
}

#sys-mbauth .submit em {
    padding: 0 20px;
    font: bold 14px/32px "\5B8B\4F53";
    color: #934002;
}

#sys-mbauth .submit:hover .btn-l {
    background-position: left -32px;
}

#sys-mbauth .submit:hover .btn-r {
    background-position: right -32px;
}

#sys-mbauth .submit:hover em {
    color: #333;
}

#sys-mbauth .submit:active .btn-l {
    background-position: left top;
}

#sys-mbauth .submit:active .btn-r {
    background-position: right top;
}

#sys-mbauth .clause input {
    margin-right: 2px;
    *margin-left: -4px;
    vertical-align:
    -2px;
}

#sys-mbauth dl {
    padding: 2px 0;
    zoom: 1;
}

#sys-mbauth dl:after {
    display: block;
    clear: both;
    height: 0;
    content: "\0020";
}

#sys-mbauth dt {
    float: left;
    width: 92px;
    line-height: 24px;
    text-align: right;
}

#sys-mbauth dd {
    float: right;
    min-height: 24px;
    _height: 24px;
    width: 304px;
}

#sys-mbauth dd.tips {
    min-height: 18px;
    _height: 18px;
}

#sys-mbauth .text {
    margin-right: 0 2px;
    padding: 4px 2px;
    border: solid 1px #A8ACAD;
    height: 16px;
    line-height: 1.4;
    background: #FFF url(http://img.china.alibaba.com/images/trade/quotation/100426/bg1.gif) repeat-x;
    ime-mode: disabled;
}

#sys-mbauth .code img {
    margin-right: 2px;
    vertical-align: middle;
}

#sys-mbauth .n, #sys-mbauth .d {
    padding-left: 16px;
    line-height: 18px !important;
    display: none;
}

#sys-mbauth .y {
    padding-left: 24px;
    line-height: 22px !important;
    visibility: hidden;
}

#sys-mbauth .s {
    display: none;
}

#sys-mbauth .ok .y {
    display: inline-block;
    visibility: visible;
    background: url(http://img.china.alibaba.com/images/common/icon_v02/success2.png) no-repeat 8px center;
}

#sys-mbauth .ok .s {
    display: inline-block;
    color: #666;
}

#sys-mbauth .err .text {
    border: solid 1px #ED8F8F;
    background-color: #FFF2F2;
}

#sys-mbauth .err .n {
    display: inline-block;
    color: #F00;
    background: url(http://img.china.alibaba.com/images/common/icon_v02/warn7.png) no-repeat left center;
}

#sys-mbauth dl.focus .text {
    border: solid 1px #7B99DF;
    background-color: #E6EDFD;
}

#sys-mbauth dl.focus .n {
    display: none;
}

#sys-mbauth dl.focus .d {
    display: inline;
    color: #666;
    background: url(http://img.china.alibaba.com/images/common/icon_v02/warn6.png) no-repeat left center;
}

#sys-mbauth dl.focus .s {
    display: none;
}

#sys-mbauth .done {
    padding: 24px 0;
    text-align: center;
}

#sys-mbauth .done p {
    color: #666;
    line-height: 1.8;
}

#sys-mbauth .done em {
    padding: 0 2px;
}

#sys-mbauth .message {
    margin: 8px 8px 16px 8px;
    padding: 2px 2px 2px 25px;
    line-height: 18px;
    background: #FFF8EE url(http://img.china.alibaba.com/cms/upload/2010/917/600/6719_719516335.png) 7px 5px no-repeat;
    border: 1px solid #FFC899;
    color: #000;
}

#sys-mbauth .done {
    padding: 24px 0;
    text-align: center;
}

#sys-mbauth h6 {
    line-height: 32px;
    font-size: 16px;
    font-weight: 700;
}

#sys-mbauth h6 img {
    margin-right: 8px;
    vertical-align: middle;
}

#sys-mbauth .done p {
    color: #666;
    line-height: 1.8;
}
