/**
 * alibar css
 * @version 2.5.110531 // fdev-v4 version
 * @version 2.6.120904 // jianping.shenjp 淘宝互通tips
 * @author  Edgar
 * @version 4.0 2012.01.18
 * @author Denis
 */

#alibarV2,
#alibarV2 .alibar-container,
#alibarV2 .account-not,
#alibarV2 .account-signed,
#alibarV2 .bg-arrow,
#alibarV2 .contact-us-free,
#alibarV2 .fill-form-free,
#alibarV2 .join-promotions,
#alibarV2 .title-sitemap,
#alibarV2 .list-sitemap-all a,
#alibarV2 .alibar-tip,
#alibarV2 .alibar-tip .alibar-tip-container,
#alibarV2 .account-sign-status .alibar-tip a,
#alibarV2 .account-sign-status .alibar-tip a.btn-close{
    background:url(http://img.china.alibaba.com/cms/upload/other/system/alibar/v2-standard-110304.png) no-repeat -100px 0;
}/* update 110303 */
#alibarV2{
    height:27px;
    background-position:0 -20px;
    background-repeat:repeat-x;
    color:#666;
    text-align:left; /*add 101207*/
    font:12px/1.5 Tahoma,Arial,"\5b8b\4f53",sans-serif; /*add 101207*/
}
#alibarV2 .alibar-container{
    width:952px;
    height:27px;
    margin:0 auto;
    padding:0 4px;
    background-position:0 -20px;
    background-repeat:repeat-x;
}/* update 101123 */
#alibarV2 a:link,
#alibarV2 a:visited{
    color:#666;
}
#alibarV2 a:hover,
#alibarV2 a:active{
    color:#ff7300 !important;
    text-decoration:none;
}
#alibarV2 .account-sign-status{
    position:relative;
    float:left;
    height:27px;
    z-index:699;
    /*overflow:hidden;*/
}
#alibarV2 .account-sign-status li{
    float:left;
    height:27px;
    line-height:25px;
    line-height:27px\9;
    border-right:1px solid #eee;
    padding:0 8px;
}
#alibarV2 .account-sign-status .account-welcome{
    min-width:134px;
    *width:auto;
    word-wrap:normal;
    padding-left:0;
}
#alibarV2 .account-sign-status .account-welcome a{
    font-weight:400;
}
#alibarV2 .account-not{
    padding-left:15px;
    background-position:-32px -148px;
}
#alibarV2 .account-signed{
    padding-left:15px;
    background-position:-32px -178px;
}
#alibarV2 .acount-msg a span{
	margin-left: 4px;
    padding:0 4px;
	background-color: #ff7300;
	color: #fff;
	-moz-border-radius: 3px;
    border-radius: 3px;
}
#alibarV2 .acount-msg a:hover span{
	background-color: #ff3300;
}
/* added 110303 start */
#alibarV2 .alibar-tip{
    position: absolute;
    top: 24px;
    left: -4px;
    width: 298px;
    height: 25px;
    z-index: 700;
    background-position: 0 -335px;
    background-repeat: repeat-x;
}
#alibarV2 .alibar-tip .alibar-tip-container {
    float: left;
    padding-top:5px;
    background-position: 200px -400px;
}
#alibarV2 .account-sign-status .alibar-tip a{
    display: block;
    float: left;
    width: 269px;
    height: 20px;
    line-height: 20px;
    padding-left: 9px;
    font-weight: 400;
    color: #c60;
    background-position: -32px -310px;
}
#alibarV2 .account-sign-status .alibar-tip a.btn-close{
    width: 20px;
    height: 20px;
    padding-left: 0;
    line-height: 200px;
    overflow: hidden;
    background-position: right -370px;
}
#alibarV2 .alibar-tip a em{
    font-weight: 700;
    text-decoration: underline;
}
/* added 110303 end */
#alibarV2 .topnav{
    float:right;
}
#alibarV2 .bg-arrow{
    padding-right:8px;
    background-position:right -280px;
    *background-position-y:-282px;
    _background-position-y:-281px;
}
#alibarV2 .top-product-over .bg-arrow{
    background-position:right -260px;
    *background-position-y:-262px;
    _background-position-y:-261px;
}/*add 101222*/
#alibarV2 .top-product-over .fd-hide,
#alibarV2 .top-service-over .fd-hide{
    display:block;
}
#alibarV2 .top-product{
    float:left;
    padding:4px 6px 0 0;
}/* update 101102 */
#alibarV2 .top-cxt-service,
#alibarV2 .top-ali-assistant,
#alibarV2 .top-customer-service{
    float:left;
    padding-right:5px;
    position:relative;
    z-index:699;
}/* update 101102 */
#alibarV2 .top-customer-service{
    line-height:22px\9;
    _line-height:20px;
}
#alibarV2 .top-product-over{
    border-left:1px solid #ccc;
}
#alibarV2 .title-cxt-service,
#alibarV2 .title-ali-assistant{
    position:relative;
    padding:1px 5px 1px 6px;
    line-height:16px;
    line-height:20px\0;
    *line-height:18px;
    height:21px;
    z-index:701;
    *display:inline-block;
}
#alibarV2 .title-cxt-service{
    _width:68px;
}
#alibarV2 .title-ali-assistant{
    _width:56px;
}
#alibarV2 .top-product-over .title-cxt-service,
#alibarV2 .top-product-over .title-ali-assistant{
    border-style:solid;
    border-color:#ccc #ccc #fff;
    border-width:1px 1px 1px 0;
    padding:0 4px 0 5px;
    background:#fff;
}
#alibarV2 .list-cxt-service,
#alibarV2 .list-ali-assistant{
    position:absolute;
    top:22px;
    left:-1px;
    z-index:700;
    border:1px solid #ccc;
    padding:1px 6px 3px;
    line-height:22px;
    background:#fff;
}
#alibarV2 .list-cxt-service{
    width:110px;
    padding-left:4px;
}/*update 101216*/
#alibarV2 .list-cxt-service li{
    height:22px;
}
#alibarV2 .list-cxt-service a{
    padding-left:22px;
}/*update 101216*/
#alibarV2 .contact-us-free{
    background-position:-22px -58px;
}/*update 101216*/
#alibarV2 .fill-form-free{
    background-position:-22px -88px;
}/*update 101216*/
#alibarV2 .join-promotions{
    background-position:-22px -118px;
}/*update 101216*/
#alibarV2 .list-cxt-service a.iconAlitalk{
    line-height:22px\0;
    *line-height:14px;
    *padding-top:4px;
    _padding-top:6px;
    text-decoration:none !important;
}/* update 101025 */
#alibarV2 .list-cxt-service a.icon-on{
    _background-position-y:-69px;
}/* update 101025 */
#alibarV2 .list-ali-assistant{
    width:76px;
}
#alibarV2 .top-service{
    float:left;
    margin-top:4px;
    background:#eee;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    height:18px;
    margin-right:25px;
    position:relative;
    z-index:699;
}/* update 101102 */
#alibarV2 .top-service-over{
    background:#fff;
}
#alibarV2 .top-service ul{
    float:left;
    border-left:1px solid #e5e5e5;
    *position:relative;
    margin-left:-1px;
    height:18px;
    overflow:hidden;
    width:192px;
}/* update 101025 */
#alibarV2 .top-service li{
    float:left;
    line-height:16px;
    line-height:18px\0;
    *line-height:19px;
    width:64px;
    text-align:center;
}/* update 101025 */
#alibarV2 .top-sitemap{
    float:left;
    margin-right:-1px;
    height:18px;
    _overflow:hidden;
}
#alibarV2 .title-sitemap{
    display:inline-block;
    width:16px;
    height:18px;
    border-right:1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
    overflow:hidden;
    line-height:60px;
    cursor:pointer;
    background-position:5px -53px;
    vertical-align:top;
    _position:relative;
}
#alibarV2 .top-service-over .title-sitemap{
    border-left-color:#fff;
    background-position:5px -83px;
}
#alibarV2 .list-sitemap{
    position:absolute;
    top:18px;
    left:-1px;
    z-index:700;
    width:209px;
    border:solid #e5e5e5;
    border-width:0 1px;
    background:#fff;
}
#alibarV2 .list-sitemap dl{
    float:left;
    width:193px;
    margin:0 8px;
    border-top:1px solid #eee;
    padding:4px 0 8px;
    _display:inline;
}
#alibarV2 .list-sitemap .list-service{
    border-top-style:dotted;
    margin-top:3px;
}
#alibarV2 .list-sitemap dt{
    clear:left;
    font-weight:700;
    color:#333;
}
#alibarV2 .list-sitemap dd{
    float:left;
    width:63px;
    word-break:keep-all;
}
#alibarV2 .list-sitemap-all{
    clear:both;
    _position:relative;
    height:18px;
    background:#eee;
    border:solid #e5e5e5;
    border-width:1px 0;
    margin-bottom:-1px;
    text-align:center;
    font-weight:700;
    line-height:16px;
    line-height:18px\9;
    _line-height:16px;
}
#alibarV2 .list-sitemap-all a{
    background-position:right 5px;
    padding-right:9px;
    *background-position-y:3px;
    _background-position-y:4px;
}
#alibarV2 .top-suppliers{
    float:left;
    height:27px;
    line-height:25px;
    line-height:27px\9;
    padding:0 15px;
    border-right:1px solid #eee;
    border-left:1px solid #eee;
    font-size:14px;
    font-weight:700;
}
#alibarV2 .top-suppliers a:link,
#alibarV2 .top-suppliers a:visited{
    color:#999;
}

/**
 * Alibar 4
 * @version 4.0 2012.01.18
 * @version 4.1 2012.04.21
 * @version 4.2 2012.09.03 // jianping.shenjp 淘宝互通tips
 * @author Denis
 */
#alibar-v4{background-color:#f7f7f7;border-top:solid 1px #d8d8d8;border-bottom:solid 1px #d8d8d8;}
#alibar-v4 .alibar-container{margin:0 auto;padding:0 4px;width:990px;height:23px;_overflow:hidden;font:12px/23px Tahoma,Arial,"\5B8B\4F53",sans-serif;}
#alibar-v4 a{text-decoration:none;}
#alibar-v4 a:hover{color:#ff7300 !important;}

#alibar-v4 .topnav li,
#alibar-v4 .nav-arrow,
#alibar-v4 .topnav-purchaselist .nav-title span,
#alibar-v4 .topnav-tp .contact-us,
#alibar-v4 .topnav-tp .apply-form,
#alibar-v4 .topnav-tp .join-promotion,
#alibar-v4 .topnav-tp .renewal-online{background:url(http://img.china.alibaba.com/cms/upload/homepage/alibar-v4.gif) no-repeat;}

#alibar-v4 li{float:left;}
#alibar-v4 .extra{position:relative;z-index:1804;}

#alibar-v4 .account-sign-status{float:left;color:#444;}
#alibar-v4 .account-sign-status a:link,
#alibar-v4 .account-sign-status a:visited{color:#369;}
#alibar-v4 .account-sign-status li{padding:0 5px;}
#alibar-v4 .account-sign-status a.modify-nick { color: #ff7300; }
#alibar-v4 .account-msg a span{margin-left: 2px;padding:0 4px;background-color: #ff7300;color: #fff;-moz-border-radius: 3px;border-radius: 3px;}
#alibar-v4 .account-msg a:hover span{background-color: #ff3300;}

#alibar-v4 .topnav{float:right;}
#alibar-v4 .topnav a:link,
#alibar-v4 .topnav a:visited{color:#666;}

#alibar-v4 .topnav li{background-position:right 6px;}

#alibar-v4 .nav-title{float:left;padding:0 10px;height:24px;}
#alibar-v4 .extra:hover .nav-title,
#alibar-v4 .nav-hover .nav-title{padding:0 9px;border-left:solid 1px #d1d1d1;border-right:solid 1px #d1d1d1;background-color:#fff;}
#alibar-v4 .topnav li.nav-hover-prev{background:none}

#alibar-v4 .nav-arrow{padding-right:10px;background-position:right -160px;}
#alibar-v4 .topnav li:hover .nav-arrow,
#alibar-v4 .topnav .nav-hover .nav-arrow{background-position:right -190px;}
#alibar-v4 .list-first{background:none;}
#alibar-v4 .nav-content{display:none;border:solid 1px #d1d1d1;border-top:0 none;background-color:#fff;box-shadow:rgba(0,0,0,0.2) 1px 1px 1px 0;}
#alibar-v4 .topnav .extra:hover .nav-content,
#alibar-v4 .topnav .nav-hover .nav-content{display:block;position:absolute;top:24px;z-index:2000;}
#alibar-v4 .nav-content dl{float:left;padding:4px 12px;}
#alibar-v4 .nav-content dt{font-weight:700;color:#b0b0b0;}
#alibar-v4 .nav-content dd{line-height:20px;word-spacing:no-wrap;}
#alibar-v4 .nav-content a:link,
#alibar-v4 .nav-content a:visited{color:#444;}
#alibar-v4 .topnav-myali .nav-content{left:0;width:252px;}
#alibar-v4 .topnav-purchaselist .nav-title span{padding-left:12px;background-position:0 -238px;}
#alibar-v4 .topnav-purchaselist-stock em {color:#ff7300;}
#alibar-v4 .topnav-purchaselist .nav-content{left:0;width:277px;}
#alibar-v4 .topnav-purchaselist .product-list{padding:4px 0;}
#alibar-v4 .topnav-purchaselist .product-list h3{padding-left: 8px;}
#alibar-v4 .topnav-purchaselist .product-list p{padding:16px 0;text-align:center;color:#525151;}
#alibar-v4 .topnav-purchaselist .purchase-info{padding:10px 0;background-color:#f7f7f7;text-align:center;}
#alibar-v4 .topnav-purchaselist .purchase-info p{margin-bottom:6px;color:#646464;}
#alibar-v4 .topnav-purchaselist .purchase-info em{font-weight:700;}
#alibar-v4 .topnav-purchaselist .purchase-info .orange{color: #ff7300;}
#alibar-v4 .topnav-purchaselist-stock .product-list p{display:none;}
#alibar-v4 .topnav-purchaselist dl{padding:4px 8px;}
#alibar-v4 .topnav-purchaselist dd.action a{color:#06c !important;}
#alibar-v4 .topnav-purchaselist dl a:hover{color:#ff7300 !important;}
#alibar-v4 .topnav-purchaselist dt{float:left;margin:4px 8px 0 0;text-align:center;}
#alibar-v4 .topnav-purchaselist dt a{display:block;width:50px;height:50px;overflow:hidden;}
#alibar-v4 .topnav-purchaselist dd{float:left;width:166px;line-height:1.5;}
#alibar-v4 .topnav-purchaselist dd.specInfos {height:18px;overflow:hidden;}
#alibar-v4 .topnav-purchaselist dd.specInfos  .specItem{margin-right:10px;color: #8c8c8c;word-break: break-all;}
#alibar-v4 .topnav-purchaselist dd.specInfos  .lastItem{margin:0;}
#alibar-v4 .topnav-purchaselist dd.price{color:#8c8c8c;font-family: Helvetica;}
#alibar-v4 .topnav-purchaselist dd.action{float: right;width: 30px;margin-top: -18px;text-align: right;}
#alibar-v4 .topnav-purchaselist dd em {margin:0 2px;color:#ff7300;}
#alibar-v4 .topnav-purchaselist a.btn-y {
    display:inline-block;
    width:90px;
    height:24px;
    border: solid 1px #e89f0e;
    border-bottom-color: #cf7f01;
    background-color: #fca000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcb10a), color-stop(1, #f18e06));
    background-image: -webkit-linear-gradient(top, #fcb10a 0%, #f18e06 100%);
    background-image: -moz-linear-gradient(top, #fcb10a 0%, #f18e06 100%);
    background-image: -o-linear-gradient(top, #fcb10a 0%, #f18e06 100%);
    background-image: -ms-linear-gradient(top, #fcb10a 0%, #f18e06 100%);
    background-image: linear-gradient(top, #fcb10a 0%, #f18e06 100%);
    border-radius: 3px;
    color: #fff !important;
    font-weight: 700;
    line-height: 24px;
    text-align:center;
}

#alibar-v4 .topnav-purchaselist a.btn-y:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f29b06), color-stop(1, #e57902));
  background-image: -webkit-linear-gradient(top, #f29b06 0%, #e57902 100%);
  background-image: -moz-linear-gradient(top, #f29b06 0%, #e57902 100%);
  background-image: -o-linear-gradient(top, #f29b06 0%, #e57902 100%);
  background-image: -ms-linear-gradient(top, #f29b06 0%, #e57902 100%);
  background-image: linear-gradient(top, #f29b06 0%, #e57902 100%);
}

#alibar-v4 .topnav-purchaselist a.btn-y:active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e07f00), color-stop(1, #e48c02));
  background-image: -webkit-linear-gradient(top, #e07f00 0%, #e48c02 100%);
  background-image: -moz-linear-gradient(top, #e07f00 0%, #e48c02 100%);
  background-image: -o-linear-gradient(top, #e07f00 0%, #e48c02 100%);
  background-image: -ms-linear-gradient(top, #e07f00 0%, #e48c02 100%);
  background-image: linear-gradient(top, #e07f00 0%, #e48c02 100%);
}

#alibar-v4 .topnav-tp .nav-content {left:0;width:128px;}
#alibar-v4 .topnav-tp .nav-content a {padding-left:20px;}
#alibar-v4 .topnav-tp .contact-us{background-position:2px -56px;}
#alibar-v4 .topnav-tp .order-online{text-decoration:none !important;}
#alibar-v4 .topnav-tp .apply-form{background-position:2px -86px;}
#alibar-v4 .topnav-tp .join-promotion{background-position:2px -116px;}
#alibar-v4 .topnav-tp .renewal-online {background-position:2px -279px;}
#alibar-v4 .topnav-sitemap .nav-content{right:0;width:361px;}
#alibar-v4 .topnav-kf .nav-content{left:0;width:76px;}
#alibar-v4 .topnav-supplier .nav-content{left: 0; width: 88px;}
/**
 * @update 2012.9.4 淘宝互通tips
 * @author jianping.shenjp
 */
#alibar-v4 .alibar-tips {
  position: absolute;
  position: absolute;
  background: #fffcdc;
  border: 1px solid #e7d4ac;
  padding: 10px 8px 4px;
  z-index: 1500;
  box-shadow: 2px 2px rgba(0,0,0,0.1);
}
#alibar-v4 .tips-top {
  position: absolute;
  display: block;
  font-size: 0;
  top: -8px;
  top: -8px\9;
  left: 10px;
  width: 13px;
  height: 8px;
  background: url("http://img.china.alibaba.com/cms/upload/2012/055/744/447550_1451252140.png") no-repeat 0 -60px;
  z-index: 1501;
}
#alibar-v4 .tip-logo {
  float: left;
  width: 30px;
  height: 34px;
  background: url("http://img.china.alibaba.com/cms/upload/2012/055/744/447550_1451252140.png") no-repeat;
}
#alibar-v4 .tips-close {
  float: left;
  width: 10px;
  height: 10px;
  background: url("http://img.china.alibaba.com/cms/upload/2012/055/744/447550_1451252140.png") no-repeat 0 -40px;
  cursor: pointer;
  font-size:0;
}
#alibar-v4 .tip-text {
  float: left;
  padding: 0 10px 0 4px;
  width: 156px;
}
#alibar-v4 .tip-text.add{
	width:180px;
}
#alibar-v4 .tip-text .modify_nick_btn{
	background:#FF7300;
	width:130px;
	height:18px;
	line-height:18px;
	text-align:center;
	margin:10px 0px;
	padding:0;
	cursor:pointer;
}
#alibar-v4 .tip-text .modify_nick_btn a:link,
#alibar-v4 .tip-text .modify_nick_btn a:visited,
#alibar-v4 .tip-text .modify_nick_btn a:hover{
	color:#fff !important;
}


#alibar-v4 .detail-link {
  color: #369;
}
#alibar-v4 .tip-text em {
  color: #C97831;
}
#alibar-v4 .tip-text a.i-know {
  display: block;
  text-align: right;
}

#alibar-v4 .alibar-loading{
  background:url('http://img.china.alibaba.com/images/cn/home/loading.gif') no-repeat 50% 50%;
}

/**
 * @update 2013.7.18 手机版链接
 * @author dongming.jidm
 */
#alibar-v4 .mobile,
#alibar-v4 .mobile a{
    background: url("http://img.china.alibaba.com/cms/upload/2013/196/085/1580691_1573916616.png") no-repeat;
}
#alibar-v4 .mobile{
    float: left;
    padding-right: 8px;
    background-position: right 6px;
}
#alibar-v4 .mobile a{
    display: block;
    float: left;
    padding-left: 16px;
    background-position: 0 -380px;
}
#alibar-v4 .mobile a:link,
#alibar-v4 .mobile a:visited
{
    color: #369;
}

/**
 * @update 2013.7.23 星钻冠布点
 * @author dongming.jidm
 */
#alibar-v4 .account-welcome .sayHello {
	display: block;
    float: left;
}

#alibar-v4 .account-welcome {
	position: relative;
	z-index: 1000;
}

#alibar-v4 .account-welcome .nav-content {
    left: 41px;
	background-color: #fff;
}

#alibar-v4 .account-welcome .reLoginRemind {
	padding-left: 15px;
}

#alibar-v4 .account-welcome .reLoginRemind a:link,
#alibar-v4 .account-welcome .reLoginRemind a:visited,
#alibar-v4 .account-welcome .isSubAccountRemind a:visited
{
	color: #ff7300;
}

#alibar-v4 .account-welcome .isSubAccountRemind a:link{
	color:#495B71;
}

#alibar-v4 .infoHover .nav-title{
  padding: 0 9px;
  border-left: solid 1px #d1d1d1;
  border-right: solid 1px #d1d1d1;
  background-color: #fff;
}

#alibar-v4 .infoHover .nav-content {
	display:block;
    position:absolute;
    top:24px;
    z-index:2000;
}
#alibar-v4 .infoHover .nav-arrow{background-position:right -190px;}

#alibar-v4 .account-welcome .nav-content {
    width: 211px;
    padding: 5px 10px;
}

#alibar-v4 .levelWrapper {
    padding-bottom: 8px;
}

#alibar-v4 .levelWrapper .memberPhoto {
    float: left;
    width: 56px;
    height: 56px;
    border: 1px solid #efefef;
	padding: 1px;
	margin-top: 3px;
}

#alibar-v4 .levelWrapper .memberPhoto a{
    display: block;
}

#alibar-v4 .levelWrapper .memberPhoto a,
#alibar-v4 .levelWrapper .memberPhoto img {
    width: 56px;
    height: 56px;
}

#alibar-v4 .levelWrapper .level {
    width: 145px;
    float: right;
}

#alibar-v4 .levelWrapper .level p {
    line-height: 20px;
}

#alibar-v4 .levelWrapper .level .account {
    text-align: right;
    padding-bottom: 5px;
}


#alibar-v4 .levelWrapper .level .title {
    color: #666;
	padding-right: 7px;
}

#alibar-v4 .levelWrapper .level .vipClub,
#alibar-v4 .levelWrapper .level .newComer {
    padding-left: 10px;
	color:#666;
}

#alibar-v4 .levelWrapper .level .vipClub {
    font-weight: bold;
}

#alibar-v4 .levelWrapper .level .levelImg img {
    vertical-align: middle;
}

#alibar-v4 .levelWrapper .level .account a:link,
#alibar-v4 .levelWrapper .level .account a:visited
{
    color: #336799;
}

#alibar-v4 .levelWrapper .level .account .sep{
    color: #eaeaea;
	padding: 0 2px;
}

#alibar-v4 .medalWrapper {
	padding: 10px 0 8px 0;
	border-top: 1px dashed #e0e0e0;
}

#alibar-v4 .medalWrapper .medal {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 8px;
}

#alibar-v4 .tip-text a:link,
#alibar-v4 .tip-text a:visited
{
  color: #ff7300;
}

/**
 * 诚信通服务图标及链接更改
 * dongming.jidm
 * 2013-12-13
*/
#alibar-v4 .topnav-tp .contact-us-new,
#alibar-v4 .topnav-tp .privilege-experience,
#alibar-v4 .topnav-tp .newmember-application,
#alibar-v4 .topnav-tp .oldmember-xufei,
#alibar-v4 .topnav-tp .special-offer
{
    padding-bottom: 2px;
    background: url("http://img.china.alibaba.com/cms/upload/2013/732/568/1865237_286271235.png") -999px -999px no-repeat;
}
#alibar-v4 .topnav-tp .contact-us-new {
    background-position: 0 0;
}

#alibar-v4 .topnav-tp .privilege-experience {
    background-position: 0 -25px;
}

#alibar-v4 .topnav-tp .newmember-application {
    background-position: 0 -53px;
}

#alibar-v4 .topnav-tp .oldmember-xufei {
    background-position: 0 -80px;
}

#alibar-v4 .topnav-tp .special-offer {
    background-position: 0 -106px;
}

#alibar-v4 .topnav-tp .nav-content {
    left: 0;
    width: 134px;
}
#alibar-v4 .topnav-tp .nav-content a {
    padding-left: 26px;
}