/**
 * 上传日志
 * @author : arcthur.cheny
 * @createTime : 2011-09-27
 */

.booth-management{
     margin-left: 18px;
     padding-top:12px;
}
.booth-management h3{
    line-height: 38px;
    font-size: 14px;
    font-weight: 700;
    color:#000;
    height:38px;
}
.booth-management .cms-uper {
    width:100%;
    height:600px;
}

.dcms-grid tfoot td {
    text-align: right;
}

.dcms-grid tbody .single-check-box {
    padding: 6px 0 6px 13px;
}

.search-bar p { 
    height:32px;
    line-height:32px;
}

.search-bar .padding {
    padding-left:10px;
}

.dcms-grid {
    width:832px;
}

.choose { margin-top:6px; }

.dcms-grid .img-choose { width:4%;}
.img-id { width:10%;}
.img-uploader { width:16%; }

.img-url { width:32%; word-break:break-all;}
.img-upload-time,
.img-modified-time { width:12%; }
.img-file-name { width:16%; }
.img-file-btn { width:10%;}


.modal { border: solid 8px #585858; background-color: #FFF; font-family: \5B8B\4F53; line-height: 1.5; }
.modal h3 { padding: 0 8px; height: 35px; border-bottom: solid 1px #C1D2E6; background: url(http://img.china.alibaba.com/images/trade/quotation/100426/bg6.gif) repeat-x; line-height: 2.5; }
.modal h3 em { display: block; float: left; font-size: 14px; font-weight: bold; color: #06C; }
.modal h3 .close { display: block; float: right; margin-top: 7px; width: 21px; height: 22px; overflow: hidden; background: url(http://img.china.alibaba.com/images/trade/quotation/100426/close1.png) no-repeat; cursor: pointer; }
#modal1 { width: 500px; }
@-moz-document url-prefix(){ .search-bar .dcms-btn{padding:0 4px;}}
