/*autoor:zhuliqi;
  data:2013/4/27;  
*/
/*引入CSS样式部分，作为此类页面的公用部分，可以新建共用文件的时候把这里剪切出去*/
.content {
    width:auto;
    margin-left:0px;
}
.cursor {
    cursor: pointer;
}
.libra-content{padding-top:10px;}
/** top-area */
.top-area .tab-b {
    height: 27px;
    border-bottom: solid 2px #8e9dc6;
    padding: 0;
}
.top-area .tab-b .subject-info {
    float: left;
    height: 25px;
    overflow: hidden;
    line-height: 32px;
}
.top-area .tab-b .subject-info  span {
    color: #4a6bae;
    font-weight: bold;
}
.top-area .tab-b .f-tab-t {
    float: right;
    height: 25px;
    line-height: 32px;
    cursor: pointer;    
    padding-left:15px;
}
.top-area .tab-b a {
    text-decoration: none;
}

/** data-table */
.data-table .table-sub td {
    padding:5px 0 5px 12px;
    line-height:18px;
}
.data-table a {
    text-decoration: none;
    margin-right:3px;
}
.data-table .table-sub .newline {
    white-space:normal;
    word-break:break-all;
}
.data-table .normal-state{
    color:green;
}

/** bottom-bar */
.bottom-bar .fixed-bottom { 
    width:auto;
    background-color:#E6EAF5; 
    border:1px solid #BEC7D8;
    height:36px;
    bottom:2px;
    position:static;
    margin:5px 0;
}

.bottom-bar .fix-bottom-pagebar {
    float:right; 
    margin-top:6px; 
    margin-right:10px;
}

/** condition */
.condition {
    margin-bottom:10px;
    background-color: #f2f2f2;
    padding: 5px 0px 0px 0px;
}
.condition table {
    line-height: 26px;
    table-layout: fixed;
    width: 100%;
}
.condition td {
    padding-bottom: 10px;
}
.condition select {
    width: 98px;
}
.condition .select-long {
    width: 250px;
}
.condition .select-date {
    width: 113px;
}
.condition .col-2 {
    text-align: right;
    width: 45px;
}
.condition .col-3 {
    text-align: right;
    width: 55px;
}
.condition .col-4 {
    text-align: right;
}
.condition .col-button {
    padding-left: 8px
}
.condition .col-r7{
    width: 100px;
    padding-right: 5px;
}
.condition .col-r7 input{
    width: 95px;
}
.condition .col-r10{
    width: 130px;
    padding-right: 5px;
}

.condition .col-r20{
    width: 260px;
    padding-right: 5px;
}
.condition .col-date{
    width: 220px;
    padding-right: 5px;
}
.condition .col-date input{
    width: 90px;
}
.condition .tui-select .s-text{
    width: 65px;
}
.condition .pull-down{
    z-index: 10;
    height: 400px;
    overflow: auto;
    line-height: 18px;
}
.condition .pull-down .item dd{
    padding-left: 73px;
    padding-right: 20px;
}
.condition .pull-down .item dt{
    width: 70px;
}


/*覆盖共用样式部分*/
.condition .col-4{width:53px;}
.data-table .table-sub td{text-align:left;}
.icon-del{background:url('http://img.china.alibaba.com/cms/upload/2013/102/371/1173201_2134990118.png') no-repeat 7px 0px;height:14px;cursor:pointer;}
.bottom-bar .fixed-bottom{background-color:#f0f0f0;}
.bottom-bar .paging-t .pagination a,.bottom-bar .paging-t .pagination span{background-color:#fff;color:#989898;border-color:#cdcdcd;}
.bottom-bar .paging-t .pagination .current{background-color:#f4f7fe;}



/*非覆盖*/
.mingdan-color{color:#3B5995;}
.offer-list{line-height: 20px;height:20px;text-align:center;padding:0 4px;}
.offer-pagebutton{display:inline-block;float:left;margin-top:6px;margin-left:10px;}
.offer-pagebutton .btn-blue{margin-right:3px;}
.icon-del:hover{background:url('http://img.china.alibaba.com/cms/upload/2013/103/981/1189301_2134990118.png') no-repeat 7px 0;}
.icon-del:active{background:url('http://img.china.alibaba.com/cms/upload/2013/103/981/1189301_2134990118.png') no-repeat 7px 0;}

/*弹出层样式*/
.form-vertical dl.item-form dt{width:133px;font-weight:normal;padding-right:6px;}
.form-vertical dl.item-form dd{padding-left:139px;}
.form-vertical dl.item-form .item-inputText[type='text']{width:142px;}
.item-textarea{margin-top:5px;}
.dialog-basic{width:474px;}
.item-form select{width:150px;}
.item-form textarea{width:295px;height:111px;}
.hide{display:none;}
#enterButton{width:300px;}
#enterButton .msg{height:37px;line-height: 37px;}
input:placeholder{color:#999;}
#memberId{margin-right:5px;}
.f999{color:#999;}
#search{margin-left:8px;}

.content .th1{width:50px;}
.content .th2{width:150px;}
.content .th3{width:150px;}
.content .th4{width:150px;}