#ali-masthead-5i .alisearch-action button,
#ali-masthead-5i .ali-logo .sub-logo .sub-logo-txt{
	font-family: "Microsoft YaHei",
				SimHei, 
                "WenQuanYi Micro Hei",
				STHeiti;
}

#ali-masthead-5i .ali-market .ali-market-more,
#ali-masthead-5i .alisearch-type ul{
	background:url(http://img.china.alibaba.com/cms/upload/2012/287/584/485782_1643551954.png) no-repeat;
}

#ali-masthead-5i{
	padding:16px 4px;height:53px;_overflow:hidden;
	.ali-logo{
		float:left;
		margin-top:4px;
		background-position:156px -196px;
		width:419px;
		height:51px;
		
		.main-logo{
			display:block;
			float:left;
			margin:7px 8px 2px 4px;
			padding-right:8px;
			width:168px;
			height:42px;
			text-decoration:none;
			border-right:1px solid #CCC;
			_margin-left:1px;
		}
		.sub-logo{
			float:left;
			display:inline-block;
			height:43px;
			text-decoration:none;
			margin-top:6px;
			margin-top:7px\0;
			*margin-top:7px;
			
			a:link,
			a:visited{
				color:#444;
				text-decoration: none;
			}
			a:hover{
				color:#FF7300;
				text-decoration: none;
			}
			.sub-logo-market{
				width:230px;
				height:22px;
			}
			.sub-logo-txt{
				float:left;
				display:block;
				font-size:22px;
				line-height:22px;
				height:22px;
				zoom:1;
			}
			.sub-logo-url{
				-webkit-text-size-adjust:none;
				font-size:10px;
				line-height: 26px;
				*line-height: 22px;
				font-family:Tahoma,Arial,sans-serif;
				font-weight:700;
			}
		}		
	}
	.ali-market{
		float:left;
		padding:2px 0 0 8px;
		width:84px;
		height:20px;
		
		.ali-market-list{
			position:relative;
			z-index:996;
			width:80px;
			background-color:#FFF;
			span{
				color:#999;
				text-decoration: none;
			}
			.ali-market-more{
				border:1px solid #DDD;
				border-radius:2px;
				height:18px;
				line-height:22px\0;
				*line-height:22px;
				_line-height:18px;
				padding-left:8px;
				overflow:hidden;
				background-position:58px -77px;
			}
			/*old version*/
			.ali-market-expanded{
				display:none;
				border:1px solid #DDD;
				border-top:0 none;
				width:160px;
				background-color:#FFF;
				border-radius:0 0  2px 2px;
				ul{
					display:block;
					padding:6px 0 2px 8px;
					border:0 none;
					width:72px;
					background-color:#FFF;
					border-radius:0 0  2px 2px;
					float:left;
				}
				ul.topline{
					border-top:1px solid #DDD;
				}
			}
			/*---END---*/
			ul.ali-market-wide{
				display:none;
				border:1px solid #DDD;
				-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.5);
				-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.5);
				box-shadow: 2px 2px 2px rgba(0,0,0,.5);
				width:598px;
				background-color:#FFF;
				padding:8px 0;
				li{
					float:left;
					width:298px;
					border-right:1px solid #EEE;
				}
				li.last{
					border-right:0 none;
				}
				dl{
					padding:0 8px;
					height:28px;
					line-height:28px;
					width:282px;
					overflow:hidden;
					border-top:1px solid #FFF;
					border-bottom:1px solid #FFF;
				}
				dl:hover{
					background-color:#F7F7F7;
					border-top:1px solid #ECECEC;
					border-bottom:1px solid #ECECEC;
				}
				dt,
				dd{
					float:left;
					padding-right:6px;
					white-space:nowrap;
				}
				dt{
					a{
						color:#444;
						font-weight:700;
					}
				}
				dd{
					a{
						color:#888;
					}
					a:hover{
						color:#FF7300;
						text-decoration: underline;
					}
				}
			}
		}
		.ali-market-list.hover,
		.ali-market-list:hover{
			span{
				color:#333;
			}
			.ali-market-more{
				position:relative;
				background-position:57px -118px;
				border-bottom:1px solid #FFF;
				z-index:998;
			}
			/*old version*/
			.ali-market-expanded{
				display:block;
				float:left;
				position:absolute;
				top:18px;
				left:0;
				z-index:997;
				ul{
					position:static;
				}
			}
			/*---END---*/
			ul.ali-market-wide{
				display:block;
				float:left;
				position:absolute;
				top:19px;
				left:0;
				z-index:997;
			}
		}
	}
	.ali-search{
		float:right;width:532px;padding:4px 0;margin-top:10px;
		legend{display:none;}
		.alisearch-container{
			height:36px;width:532px;
			.alisearch-box{float:left;padding:3px 0 3px 3px;border-right:0 none;}
			.alisearch-type{
				float:left;position:relative;width:60px;height:30px;z-index:994;
				ul{position:absolute;height:30px;width:42px;padding:0 8px 0 8px;border-left:1px solid #EEE;border-right:1px solid #EEE;background-color:#F5F5F5;overflow:hidden;background-position:38px -70px;}
				ul.hover {height:90px;border-bottom:1px solid #EEE;background-position:38px -111px;z-index:995;}
				li{width:42px;height:30px;line-height:30px;}
				li a{color:#333!important;}
				li a:hover{color:#333!important;}
			}
			.alisearch-keywords{
				float:left;padding:5px 4px;width:299px;height:20px;background-color:#fff;
				input {z-index:994;position:relative;width:299px;height:20px;*height:18px;line-height:1.5;line-height:24px\0;overflow:hidden;border:0 none;}
				input.empty {color:gray;}
			}
			.alisearch-action{
				float:left;
				button{
					display:block;
					float:left;
					width:90px;
					height:36px;
					line-height:36px;
					_line-height:39px;
					overflow:hidden;
					border:0 none;
					cursor:pointer;
					color:#FFF;
					font-size:16px;
					font-weight: 400; 
				}
				button::-moz-focus-inner {margin: 0;padding: 0;border: none;}
			}
			button.global{margin-left:2px;width:70px;}
		}
	}
}