/**
 * @author huangxt
 * @date   2012.09.11
 */

.addrow { cursor:pointer; margin-left:5px; }
.delrow { cursor:pointer; margin-left:3px;}
/*
.data-table { 
	width:740px; 
}
*/
.data-table .data-table-title-width { width:180px; }
.data-table .data-table-bread {padding-top:30px; padding-bottom:5px;}
.data-table .data-table-title { text-align:right; vertical-align:top; padding-top:15px; font-weight:bold; }
.data-table .data-table-input {padding-top:15px; padding-bottom:12px;}
.data-table input { width:500px; }
.data-table .errmsg {color:red; line-height:20px;}
.hiddenDiv { display:none; }
.showDiv { display:block; }
.bt-add {margin-right:8px;}

.crumbs-unorder-width { width:240px; }
.list-info {  line-height:22px; width:990px;}
.list-info li { border-bottom:1px solid #eaeef1; padding:15px 0;}
.list-info dd { width:630px;}
.list-info dt { float:right;}
.list-info dt.ht-three { padding-top:38px;}
.list-info dt.ht-two { padding-top:16px;}
.list-info .select-type {text-align:center; width:95px;}


.data-table-input .form-vertical dl.item-form {
	padding: 0px;
}

.data-table-input .form-vertical dl.item-form dd {
    line-height: 30px;
    padding-left: 0px;
}

.data-table-input .form-vertical .blockName {
	margin-right: 5px;
}


.dialog-select-next .dialog-b section {
	height:90px;
	line-height:100px;
	text-align: center;
}
.dialog-select-next section span {
	font-size:18px;
}
.dialog-select-next {
	width:500px;
}
