/**
 * ali-header1.css
 * 阿里巴巴头部(header)样式
 *
 * by leijun.wulj@alibaba-inc.com
 * 20100624
 */
#header{position:relative;z-index:2;}
#header a:link,#header a:visited{color:#333;text-decoration:none;}
#header a:hover{color:#FF7300;text-decoration:underline;}
#header .hide{display:none;}
#top-nav .top-cont,#logo-search,#main-nav,#top-gg{width:952px;margin:0 auto;}

#header #search-box,
#search-nav li.current,
#search-nav li.current a,
#top-nav,
#top-nav .quick-link li,
.top-trigger div.trigger-base a,
#top-nav li.top-trigger.cur div.trigger-base,
#top-nav li.top-trigger.cur ul.trigger-down,
#top-seller a,
ul.trigger-down li.trigger-bottom,
.cxt-phone,.cxt-fill,.cxt-promotion,
#main-nav,
#nav-list,
#main-nav ul li,.nav-right,
#main-nav #nav-list .current a,
.new-icon,.hot-icon,
#more-trigger div.trigger-base a,#more-trigger.cur div.trigger-base,
#more-trigger.cur ul.trigger-down,ul.trigger-down li.more-bottom{background-image:url(http://img.china.alibaba.com/images/homepage/index1001/ali_header.gif);background-repeat:no-repeat;}
/********* top-nav ********/
.cxt-phone{padding-left:20px !important;background-position:-300px -40px}
.cxt-fill{padding-left:20px !important;background-position:-20px -40px}
.cxt-promotion{padding-left:20px !important;background-position:-160px -40px}
#top-nav{position:relative;height:26px;background-color:#F5F5F5;line-height:26px;background-position:0 -740px;background-repeat:repeat-x;z-index:3}
#top-nav a:link, #top-nav a:visited{color:#666;text-decoration:none;}
#top-nav a:hover{color:#FF7300;text-decoration:none;}
#top-nav .user-login{float:left;padding-left:8px;}
#top-nav .user-login a:link, #top-nav .user-login a:visited{color:#06C;}
#top-nav .user-login a:hover{color:#FF7300;}
#top-nav .quick-link{float:right;font-family:"\5B8B\4F53";}
#top-nav .quick-link li{float:left;height:24px;margin-top:2px;background-position:right -108px;line-height:21px;}
#top-nav .quick-link li a{padding:0 12px 0 8px;}
#top-nav .quick-link li.last{background:none;}
#top-nav .quick-link li#top-seller{background:none;}
#top-nav .quick-link li#top-seller a{display:block;width:75px;height:20px;line-height:20px;padding:0 0;text-align:center;background-position:0 -170px;}
#top-nav li.top-trigger{position:relative;z-index:1001;}
#top-nav li.top-trigger div.trigger-base{float:left;}
#top-nav li.top-trigger div.trigger-base a{float:left;padding-right:22px;background-position:right -230px;}
#top-nav li.top-trigger ul.trigger-down{position:absolute;display:none;top:23px;left:0;width:100%;}
#top-nav li.top-trigger ul.trigger-down li{float:none;height:auto;margin-top:0;background-position:9999px 9999px;padding-left:8px;border-left:1px solid #BFBFBF;}
#top-nav li.top-trigger ul.trigger-down li a{line-height:26px;padding:0 0;}
#top-nav li.top-trigger.cur div.trigger-base{position:relative;height:24px;background-position:-160px -390px;z-index:1002;}
#top-nav li.top-trigger.cur div.trigger-base a{padding:0 22px 0 8px;height:24px;background-position:right -390px;}
#top-nav li.top-trigger.cur ul.trigger-down{display:block;width:126px;background-color:#FFF;}
#top-nav .top-guide-title{color:#666;}
#top-nav #top-cxt.cur ul.trigger-down{width:126px;}
#top-nav #top-myali.cur ul.trigger-down{width:96px;}
#top-nav #top-guide.cur ul.trigger-down{width:228px;}
#top-nav li.top-trigger.cur ul.trigger-down{background-position:right -430px;}
#top-nav li.top-trigger ul.trigger-down li.trigger-bottom{height:2px;background-position:right -730px;font-size:0;line-height:0;border-left:0 none;}
#top-nav li.top-trigger fieldset{margin:0 13px 0 -8px;border-top:1px solid #E5E5E5;}
#top-nav li.top-trigger legend{*margin-left:-7px;padding:0 4px 0 8px;font-weight:bold;}
#top-nav li.top-trigger fieldset div a{float:left;display:inline;margin-left:8px;white-space:nowrap;}
#top-nav li.top-trigger .all-service{display:block;height:30px;margin-right:2px;background-color:#E5E5E5;font-family:"\5B8B\4F53";line-height:30px;}
/********** main-nav ************/
#main-nav{position:relative;height:35px;background-repeat:repeat-x;font-size:14px;font-weight:bold;font-family:"\5B8B\4F53";line-height:35px;z-index:1;}
#main-nav .nav-right{float:right;height:34px;width:2px;background-position:0 -40px;}
#nav-list a:link, #nav-list a:visited, #nav-list a:hover{color:#FFF6E7;}
#nav-list{padding-left:12px;height:35px;background-position:-442px -40px;}
#nav-list li{float:left;height:30px;margin-top:5px;background-position:right -80px;background-position:right -81px\9;_background-position:right -80px;line-height:26px;}
#nav-list li.last{background-image:none;}
#nav-list li a{float:left;height:30px;padding:0 12px;}
#nav-list .current{background-position:0 -140px;margin-left:-2px;}
#nav-list .current a{background-position:right -140px;color:#FF7800;}
#nav-list li.rnav{float:right;background:none;font-weight:normal;}
/*导航区更多下拉菜单*/
#nav-list li#more-trigger{display:block;position:relative;z-index:999;}
#nav-list li#more-trigger div.trigger-base{position:relative;display:block;width:73px;height:27px;margin-right:-2px;_margin-right:-5px;}
#nav-list li#more-trigger div.trigger-base a{padding-right:22px;background-position:right -340px;text-decoration:none !important;}
#nav-list li#more-trigger ul.trigger-down{position:absolute;width:154px;padding:3px 0 0 0;top:25px;right:-2px;_right:-5px;display:none;}
#nav-list li#more-trigger.cur div.trigger-base{position:relative;width:73px;height:27px;background-position:-160px -310px;z-index:1000;}
#nav-list li#more-trigger.cur ul.trigger-down{display:block;background-position:0 -310px;font-size:12px;}
#nav-list li#more-trigger.cur ul.trigger-down a{width:58px;height:30px;padding:0 0 0 8px;line-height:30px;overflow:hidden;}
#nav-list li#more-trigger.cur ul.trigger-down a:link,#nav-list li#more-trigger.cur ul.trigger-down a:visited{color:#666}
#nav-list li#more-trigger.cur ul.trigger-down a:hover{background-color:#FFF4CC;color:#FF7300}
#nav-list li#more-trigger ul.trigger-down li{float:left;display:inline;height:auto;margin-top:0;background-position:9999px 9999px;margin-left:9px;}
#nav-list li#more-trigger ul.trigger-down li.more-bottom{clear:both;width:100%;height:8px;margin-left:0;background-position:-160px -380px;font-size:0;line-height:0;}
/*导航区“新”“热”Icon*/
.new-icon{background-position:right -200px;margin-right:5px;}
.hot-icon{background-position:right -170px;margin-right:5px;}
/*
********** 样式沿用 **********
*/
/*********** logo ***********/
#header .logo-search{height:75px;padding-top:15px;position:relative;z-index:2;}
#header #logo{float:left;width:280px;height:55px;margin:0 0 0 6px;display:inline;background:url(http://img.china.alibaba.com/images/logo/homepage/logo_home_20100305.png) no-repeat;}
/*活动时使用的LOGO，33加*/
#header #logo-active{position:absolute;top:0;left:0px;width:300px;height:100px;overflow:hidden;}
/*首页点击分布异常的打点监测 start */
/*#header #logo a{display:block;width:280px;height:55px;background:url(http://img.china.alibaba.com/images/logo/homepage/logo_home_20100305.png) no-repeat;text-indent:-9999px;}*/
#header #logo a{display:block;height:55px;text-indent:-9999px;float:left;}
#header #logo .logo-link1{width:145px;}
#header #logo .logo-link2{width:135px;}
/*首页点击分布异常的打点监测 end */
#header #yplan{position:absolute;width:142px;height:64px;top:4px;right:45px;}
#header #yplan a{display:block;width:142px;height:64px;background:url(http://img.china.alibaba.com/images/homepage/index1001/yunplan2.jpg) no-repeat;text-indent:-9999px;}
/* seller logo */
#header.seller #logo{width:238px;margin:29px 12px 0 102px;}
#header.seller #logo a{float:left;width:131px;height:55px;background:url(http://img.china.alibaba.com/images/logo/homepage/logo_seller_20100226.png) no-repeat;}
#header.seller #logo a.service-logo{float:right;}
#header.seller #logo .s-hd-title{display:block;width:95px;height:21px;margin:27px 0 0 6px;padding-left:4px;background:none;border-left:2px solid #BFBFBF;text-indent:0;font:normal 18px/1.2 "\5fae\8f6f\96c5\9ed1","\9ed1\4f53";}
#header.seller #logo .s-hd-title:link, #header.seller #logo .s-hd-title:visited, #header.seller #logo .s-hd-title:hover{color:#333;text-decoration:none;}
/********** search ************/
#header #search-bar{margin:0 0 0 305px;height:75px;position:relative;z-index:2;}
#header.seller #search-bar{margin-left:355px;}
#header #search-nav{position:absolute;height:22px;top:0;left:0;z-index:2;}
#header #search-nav li{float:left;display:inline;height:23px;margin:0 4px 0 0;line-height:23px;}
#header #search-nav .w2{width:50px;}
#header #search-nav .w3{width:65px;}
#header #search-nav .w4{width:80px;}
#search-nav li.current{background-position:0 -200px;}
#search-nav li a{display:block;padding:0 10px;height:23px;}
#search-nav li a:link, #search-nav li a:visited{color:#06C;}
#search-nav li a:hover{color:#FF7300;}
#search-nav li.current a:link, #search-nav li.current a:visited, #search-nav li.current a:hover{background-position:right -310px;color:#333;font-weight:bold;font-size:14px;}
#header #search-bar legend{display:none;}
#header #search-box{position:absolute;width:441px;height:43px;top:22px;left:0;background-position:0 -260px;z-index:1;}
#header #search-input{width:340px;height:24px;line-height:24px;margin:10px 0 0 8px;border:0;font-size:14px;}
/*For firefox3.5*/
#header #search-input, x:-moz-any-link, x:default{height:22px;*height:24px;}
#header #search-input.gray{color:#CCC;}
#header #search-submit{width:84px;height:32px;border:none;margin:1px 0 0 0;*margin:0 0 -1px 3px;*padding-top:4px;background:transparent;cursor:pointer;font-size:14px;font-weight:bold;color:#954200;text-shadow:#FFEC98 0 1px 0;}
#header .search-tip{position:absolute;left:454px;top:35px;width:172px;height:18px;line-height:18px;color:#999;overflow:hidden;}
#header .search-tip a:link, #header .search-tip a:visited{color:#999;}
#header .search-tip a:hover{color:#ff7300;}
/* alitalk */
a.iconAlitalk{padding:2px 0 3px 20px !important;background:url(http://img.china.alibaba.com/images/fdevlib/contact-icon.gif) no-repeat;color:#001D4C;}
a.iconAlitalk:hover{color:#FF7300;}
a.icon-on{background-position:-190px -61px;}
a.icon-off{background-position:-190px -29px;}
a.icon-mb{background-position:-190px 1px;}
/*顶部banener*/
#top-gg{position:relative;height:32px;text-align:center;overflow:hidden;}
#close-top-gg{background:url(http://img.china.alibaba.com/images/homepage/index1001/background1.png) no-repeat;width:17px;height:17px;overflow:hidden;text-indent:-2000px;background-position:-160px -575px;position:absolute;z-index:10px;top:0;right:0;display:none;cursor:pointer;}
