/**
 * æ≤Ã¨“≥√Êπ‹¿Ì
 * @author : arcthur.cheny
 * @createTime : 2011-09-19
 */

.booth-management{
     margin-left: 18px;
     padding-top:12px;
}
.booth-management h3{
    line-height: 38px;
    font-size: 14px;
    font-weight: 700;
    color:#000;
    height:38px;
}
.booth-management .dcms-search-line-list-input li { 
    float:left;
    padding-right:12px;
    height:32px;
    line-height:32px;
}

.warning {
    color:#c00;
}

.warning p { 
    font-size: 14px;
    line-height:24px;
}

.cleanPageCache label {
    display:inline-block;
    width:98px;
    padding-right: 10px;
}