/* start of quanzhanbangzhu */
a.cn-help-aniu{
	position: fixed;
	_position: absolute;
	width: 40px;
	height: 152px;
	right: 12px;
	top: 100px;
	background:url(http://img.china.alibaba.com/cms/upload/2013/017/626/1626710_1074095242.png ) 0 0 no-repeat;
}

a.cn-help-aniu:hover{
	background-position: -41px 0;	
}
#full-site-help{
        width: 255px;
        position: absolute;
		display: none;
        font: 12px/1.5 Tahoma,Arial,"ו",sans-serif;
        box-shadow: 2px 2px 6px #d6d5d5;
}
.FSH-content{
	position: relative;
}
.FSH-accordion-body{
    display: none;
}
.FSH-ask-aniu{
    height: 65px;
}
.FSH-header{
    height: 36px;
    border: 1px solid #4580c5;
    line-height: 36px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-indent: 12px;
    position: relative;
    border: 1px solid #4580c5;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    cursor: move\9;
	background: -webkit-gradient(linear,left top,left bottom,from(#73b0f1),to(#5a8eca));    
	background: -moz-linear-gradient(top,#73b0f1,#5a8eca);
    background: -o-linear-gradient(top,#73b0f1,#5a8eca);
    background: linear-gradient(top,#73b0f1,#5a8eca);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b0f1',endColorstr='#5a8eca');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#73b0f1, endColorstr=#5a8eca)";/*IE8+*/
    background-color: #5a8eca;
    box-shadow: 0 0 3px 0 #ecebeb,0px 0 3px #ecebeb;
    -webkit-box-shadow: 0 0 3px 0 #ecebeb,0px 0 3px #ecebeb;
    -moz-box-shadow: 0 0 3px 0 #ecebeb,0px 0 3px #ecebeb;

}
.FSH-close, .FSH-close:link,.FSH-close:visited{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 7px;
    right: 5px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background:url(http://img.china.alibaba.com/cms/upload/2013/017/626/1626710_1074095242.png ) -84px -70px no-repeat ;
}
.FSH-close:hover{
    background-position: -110px -70px;
}
.FSH-question{
    line-height: 20px;
    font-size: 12px;
    padding-top: 6px;
    color: #444444;
    position: relative;
}
.FSH-question-first{
	padding-top: 0;
}

.FSH-question a, .FSH-question a:link, .FSH-question a:visited{
    color: #444444;
    display: block;
    float: left;
    width: 193px;
}
.FSH-question a:hover{
    color: #FF7300;
    text-decoration: none;
}
.FSH-question .arrow {
    overflow: hidden;
    display: block;
    float: left;
    width: 9px;
    height: 20px;
    margin: 0 6px 0 11px;
    _margin-left: 5px;
    background-image: url(http://img.china.alibaba.com/cms/upload/2013/017/626/1626710_1074095242.png );
    background-repeat: no-repeat;
}
.FSH-question .arrow-right {
    background-position: -100px -48px;
}
.FSH-question .arrow-down {
    background-position: -110px -48px ;
}
.FSH-question-hover .arrow-right {
    background-position: -120px -48px ;
}
.FSH-question-hover .arrow-down {
    background-position: -130px -48px ;
}
.FSH-answer{
    line-height: 20px;
    font-size: 12px;
    *width:194px;
    margin: 7px 5px 6px 10px;
    padding: 0 12px 12px;
    border: 1px solid #dae6f2;
    background-color: #f3f8fc;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    _display: none;
    color: #666;
}

.FSH-answer p{
    margin-top: 10px;
}
.FSH-answer-content{
    overflow: hidden;
}
.FSH-answer-content a:link, .FSH-answer-content a:visited{
    color: #609be3;
}
.FSH-answer-triangle{
    position: absolute;
    background:url(http://img.china.alibaba.com/cms/upload/2013/017/626/1626710_1074095242.png ) -84px -50px no-repeat;
    left: 18px;
    top: -6px;
    _top: -5px;
    width: 11px;
    height: 6px;    
}


.FSH-ask-aniu{
    padding-left: 11px;
    border-top: 1px solid #bfd4e9;
    background: -webkit-gradient(linear,left top,left bottom,from(#fbfcfe),to(#e7f0fb));
    background: -moz-linear-gradient(top,#fbfcfe,#e7f0fb);
    background: -o-linear-gradient(top,#fbfcfe,#e7f0fb);
    background: linear-gradient(top,#fbfcfe,#e7f0fb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfcfe',endColorstr='#e7f0fb');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fbfcfe, endColorstr=#e7f0fb)";/*IE8+*/
    background-color: #fbfcfe;
}
.FSH-ask-aniu dt{
    color: #356498;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 3px;
    padding-top: 5px;
}

.FSH-aniu-input{
	border: 1px solid #b3b3b3;
    padding-left: 8px;
    background-color: #ffffff;
    height: 22px;
    color: #444;
    font-size: 12px;
    line-height: 22px\9;
    width: 152px;
    vertical-align: middle;
}
    
.FSH-footer{
    padding-top: 20px;
    border: 1px solid #bfd4e9;
    border-top: 0 none;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    background-color: #fefefe !important;
}

.FSH-ask-aniu .default-tip{
	color: #c5c4c4;
}

.FSH-ask-aniu .go-search{
	display: block;
	margin-left: 6px;
	width: 64px;
	height: 24px;
	background:url(http://img.china.alibaba.com/cms/upload/2013/017/626/1626710_1074095242.png ) -84px 0 no-repeat;
}

.FSH-ask-aniu .go-search:hover{
	background-position: -84px -24px;
}
    

/* start of sug style */
.ui-autocomplete{
	width: 160px;
	border: 1px solid #b3b3b3;
	border-bottom: 0;
}

.ui-menu-item{
    background: #fff;
}

.ui-menu-item a:link, .ui-menu-item a:hover, .ui-menu-item a:link, .ui-menu-item a:visited{
	display:block;
	height: 27px;
	line-height: 27px;
	padding-left: 12px;
	color: #888 !important;
}

.ui-menu-item a.more:link, .ui-menu-item a.more:hover, .ui-menu-item a.more:visited{
	color: #7bbcf3 !important;
}

.ui-autocomplete .ui-state-hover{
    background: #f0f0f0;
}

.ui-menu-item a:hover{
	background: #f0f0f0;
	text-decoration: none;
}

.ui-menu-item em{
	color:#666;
	font-weight:bold;
}
/* end of sug style */

/* scroll bar */
#FSH-body{
    background-color: #fefefe !important;
    /*_background-color:none;*/
    border-left: 1px solid #bfd4e9;
    border-right: 1px solid #bfd4e9;
    padding-top: 10px;
}
#FSH-body .viewport { 
	width: 235px; 
	max-height: 300px; 
	overflow: hidden; 
	position: relative;
	min-height: 175px; 
	_height: 300px;
}
#FSH-body .scrollbar { position: relative; float: right; width: 15px;}
#FSH-body .track { 
	background: url(http://img.china.alibaba.com/cms/upload/2013/117/626/1626711_1074095242.gif) no-repeat scroll 3px center transparent;
	height: 100%; 
	width: 9px; 
	position: relative;
}
#FSH-body .thumb {	
	background: url(http://img.china.alibaba.com/cms/upload/2013/117/626/1626711_1074095242.gif) -12px center;
	height: 100%; 
	width: 9px; 
	cursor: pointer; 
	overflow: hidden; 
	position: relative; 
	top: 0; 
}
#FSH-body .thumb .prev-end {
	background: url(http://img.china.alibaba.com/cms/upload/2013/117/626/1626711_1074095242.gif) repeat scroll -36px 0 transparent;
    font-size: 0;
    height: 4px;
    position: absolute;
    top: 0;
    width: 100%;
}
#FSH-body .thumb .next-end{
	background: url(http://img.china.alibaba.com/cms/upload/2013/117/626/1626711_1074095242.gif) repeat scroll -36px -4px transparent;
    bottom: 0 !important;
    font-size: 0;
    height: 4px;
    position: absolute;
    width: 100%;
}
#FSH-body .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.FSH-accordion-body{
        display: none;
} 