.treeview, .treeview ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.treeview ul {
    margin-top: 4px;
}

.treeview .hitarea {
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    cursor: pointer;
}

.treeview li {
    margin: 0;
    padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
    background-color: #409ad6;
    text-decoration: none;
}

.treeview a:hover {
    text-decoration: none;
}

#treecontrol {
    margin: 1em 0;
    display: none;
}

.treeview .hover {
    color: #409ad6;
    cursor: pointer;
}

.treeview .hover2 {
}

.treeview li {
}

.treeview li.collapsable, .treeview li.expandable {
    background-position: 0 -176px;
}

.treeview .expandable-hitarea {
    background-position: -80px -3px;
}

.treeview li.last {
    background-position: 0 -1766px
}

.treeview li.lastCollapsable {
    background-position: 0 -111px
}

.treeview li.lastExpandable {
    background-position: -32px -67px
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
    background-position: 0;
}

.treeview-red li {
}

.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable {
}

.treeview-black li {
}

.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable {
}

.treeview-gray li {
}

.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable {
}

.treeview-famfamfam li {
}

.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable {
}

.treeview .placeholder {
    height: 16px;
    width: 16px;
    display: block;
}

.filetree li {
    padding: 3px 0 2px 16px;
}

.filetree span.folder, .filetree span.file {
    padding: 1px 0 1px 16px;
    display: block;
    vertical-align: top;
}

.filetree span.folder {
    background: url(http://img.china.alibaba.com/cms/upload/2012/064/092/290460_417709751.png) 0 0 no-repeat;
    vertical-align: bottom;
    background-position: 0px;
}

.filetree li.expandable span.folder {
    background: url(http://img.china.alibaba.com/cms/upload/2012/954/092/290459_417709751.png) 0 0 no-repeat;
    background-position: 0px;
}

.filetree span.file {
}

.treeview li.child {
    color: #409ad6;
}