/**
 * create by hongss for create/modify page on 2011.09.19
 */
.terms-message .message .hide-tag { background:url("http://img.china.alibaba.com/cms/upload/other/dcms/dcms-header.png") no-repeat; }

.dcms-form {
    padding-bottom:20px;
}
.dcms-form label { width:86px;}
.dcms-content .related-pages,
.dcms-content .operation-log{
    margin-top: 16px;
}
.dcms-content .related-pages h3,
.dcms-content .operation-log h3{
    line-height: 26px;
    /*font-size: 14px;*/
    font-weight: 700;
    color:#666;
}
.dcms-content .dcms-form input[type="text"]{
    width: 240px;
}
.dcms-content .dcms-form input.date-picker {
    width:110px;
}
.dcms-content .dcms-form textarea{
    width: 600px;
    height:388px;
}
.dcms-content .dcms-form .btn-auto-width { width:auto; padding:0 4px;}
.dcms-content .dcms-form .colorBlue { color:#4C6BAC;}
.dcms-content .dcms-form .colorRed { color:#c00;}


.dcms-content .dcms-grid { table-layout:auto;}
.dcms-content .dcms-form a.dcms-btn { color:fff; line-height:23px; text-align:center;}
.dcms-content .dcms-form a.dcms-btn:link, .dcms-content .dcms-form a.dcms-btn:visited { color:#fff;}
.dcms-content .dcms-form span.description { color:#c00;padding-top:6px;display:block;width:768px;}
.dcms-content .operating-area a{ padding:0 4px;}

.dcms-content .dcms-title { width:832px; overflow:hidden;}
.dcms-content .dcms-title h3 { float:left; width:auto;}
.dcms-content .dcms-title .list-btn { float:left; line-height:38px; font-size:14px;}
.dcms-content .dcms-title .list-btn li { float:left; padding-left:12px;}
.dcms-form span.content { display:inline-block; padding-top:7px;}
/*选择layout对话框*/
#dcms-select-layout { width:600px;}
#dcms-select-layout content { display:block; padding:0 28px 16px; overflow:hidden;}
#dcms-select-layout .list-layout li { float:left; width:220px; line-height:24px;}
#dcms-select-layout footer { overflow:hidden;}

.btn-fdlint{
	padding:0 8px;
	width:90px;
	margin-left:8px;
	text-align:center;
}

/*代码编辑框样式*/
.code-tips{
	background:transparent url('http://img.china.alibaba.com/cms/upload/2012/216/863/368612_1301427272.png') no-repeat 0px 0px;
	display:block;
	height:12px;
	width:21px;
	position:absolute;
	top:-16px;
	right:2px;
}
.btn-codemirror{
	padding:0 8px;
	margin-left:8px;
	width:120px;
	text-align:center;
	position:relative;
}
.CodeMirror{
	width:770px;
}
.CodeMirror-scroll{
	height:550px;
}
.CodeMirror{ border-top: 1px solid black; border-bottom: 1px solid black;}
.CodeMirror-fullscreen {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	margin: 0;
	padding: 0;
	border: 0px solid #BBBBBB;
	opacity: 1;
}
.dcms-form .toleft{
	padding-left:86px
}
.dcms-form .red{
	color:red;
}
