/**
 * @author shanshan.hongss
 * @usefor work平台 - 橱窗展示样式
 * @date   2013.01.25
 */

.tui-show-win-add {
    width:206px;
    height:109px;
    line-height:109px;
    background-color:#f9f9f9;
    border:1px dashed #e3e3e3;
    text-align:center;
}
.tui-show-win-add .add-new {
    display:inline-block;
    width:100%;
    height:100%;
    font-weight:bold;
}
.tui-show-win-add .icon-add {
    display:inline-block;
    width:20px;
    height:20px;
    background:url("http://img.china.alibaba.com/cms/upload/2013/806/786/687608_133354742.png") no-repeat;
    vertical-align:middle;
    padding-right:12px;
}
