/**
 * ali-header1.css
 * 阿里巴巴头部(header)样式
 *
 * by leijun.wulj@alibaba-inc.com
 * 20100624
 */
/********* public ********/
#logo-search,#main-nav,#top-gg,#advanced-nav{width:952px;margin:0 auto}
/********* public-bg ********/
#logo a,
.market #logo,
#search-box,
#search-nav .current,
#search-nav .current a,
#main-nav,
#nav-list,.nav-right,.nav-rb,
#nav-list li,
#nav-list .current a,
#more-trigger .trigger-base a,
#main-nav .new-icon,#main-nav .hot-icon,
#advanced-nav .advanced-cont,
#s-more.cur .trigger-down,#s-more .trigger-down .trigger-bottom,
#s-more .trigger-base a{background-image:url(http://img.china.alibaba.com/images/sys/head/public-head-v2.gif);background-repeat:no-repeat}
/********* private-bg ********/
/*homepage*/
#header.homepage .trigger-down .more-bottom,
#header.homepage #more-trigger.cur .trigger-base,
#header.homepage #more-trigger.cur .trigger-down{background-image:url(http://img.china.alibaba.com/images/sys/head/homepage-head-v2.gif);background-repeat:no-repeat}
/*market*/
#header.market .trigger-down .more-bottom,
#header.market #more-trigger.cur .trigger-base,
#header.market #more-trigger.cur .trigger-down{background-image:url(http://img.china.alibaba.com/images/sys/head/market-head.gif);background-repeat:no-repeat}
/*community*/
#header.community .trigger-down .more-bottom,
#header.community #more-trigger .trigger-base,
#header.community #more-trigger.cur .trigger-down,
#advanced-nav,#advanced-nav .current,#advanced-nav .current a,
#advanced-nav.biznew dt{background-image:url(http://img.china.alibaba.com/images/sys/head/community-head.gif);background-repeat:no-repeat}

/********** main-nav ************/
#main-nav{position:relative;height:32px;background-repeat:repeat-x;font:bold 14px/35px "\5B8B\4F53"}
#main-nav .nav-right{float:right;height:32px;width:2px;background-position:0 -40px}
#main-nav .nav-rb{float:right;height:32px;width:2px;margin:0;background-position:0 -40px;font-size:0;line-height:0}
#nav-list a:link, #nav-list a:visited, #nav-list a:hover{color:#FFF6E7}
#main-nav #nav-list{height:32px;background-position:-459px -40px;padding-left:1px}
#nav-list li{float:left;height:27px;margin:5px 0 0;background-position:right -320px;line-height:25px}
#nav-list li.last{background-image:none}
#nav-list li a{float:left;height:27px;padding:0 12px}
#nav-list .current{background-position:0 -80px;margin-left:-2px;}
#nav-list .current a{background-position:right -80px;padding:0 13px;color:#FF7800 !important}

#nav-list li.right{float:right;background:none;font-weight:normal}
#nav-list .w3 a,#nav-list .w4 a{padding:0 0;text-align:center}
#nav-list .w3 a{width:72px}
#nav-list .w4 a{width:82px}
/*导航区更多下拉菜单*/
#nav-list #more-trigger{display:block;background:none;position:relative;z-index:999}
#more-trigger .trigger-base{position:relative;display:block;height:27px;margin-right:-2px;}
#more-trigger .trigger-base a{float:none;display:block;padding:0 16px 0 0;background-position:right -370px;text-align:center;text-decoration:none !important}
#more-trigger .trigger-down{display:none;position:absolute;padding:3px 0 0 0;top:25px;left:0;background-position:0 -100px;font-size:12px;}
#more-trigger .trigger-down a{float:none;display:block;width:58px;height:27px;margin:1px 0;padding:0 0 0 8px;line-height:27px;overflow:hidden}
#more-trigger .trigger-down a:link,#more-trigger .trigger-down a:visited{color:#666}
#more-trigger .trigger-down a:hover{background-color:#FFF4CC;color:#FF7300}
#more-trigger.cur .trigger-base{position:relative;width:73px;height:27px;background-position:0 -10px;z-index:1000}
#more-trigger.cur .trigger-down{display:block}
#more-trigger .trigger-down li{float:none;display:block;height:29px;margin:0 4px;background:none;border-bottom:1px dotted #EBEBEB;vertical-align:bottom;overflow:hidden}
#more-trigger .trigger-down .more-bottom{clear:both;width:100%;height:4px;margin:-2px 0 0;background-color:#FFF;background-position:0 0;border-bottom:0 none;font-size:0;line-height:0}

.homepage #main-nav #nav-list{padding-left:12px;}
.homepage #nav-list .right a{padding:0 8px;}

.homepage #more-trigger .trigger-base{width:64px}
.homepage #more-trigger .trigger-base a{padding:0 16px 0 7px;}
.homepage #more-trigger .trigger-down{width:154px;left:-90px;}
.homepage #more-trigger .trigger-down li{float:left;display:inline;height:30px;margin:0 0 0 9px;border-bottom:0 none}
.homepage #more-trigger .trigger-down a{float:left;width:48px;height:30px;margin:0 2px 0 0;line-height:30px}
.homepage #more-trigger .trigger-down .more-bottom{height:8px;margin-left:0}

.market #more-trigger .trigger-base{width:116px;font-size:12px}
.market #more-trigger .trigger-down{width:116px}
.market #more-trigger .trigger-down a{width:99px;_width:91px;padding:0 0 0 17px}

.community #more-trigger{height:30px;margin:1px 4px 0 0;line-height:30px}
.community #more-trigger .trigger-base{width:138px;height:30px;margin-right:0;background-position:0 -10px;z-index:999}
.community #more-trigger .trigger-base a{background:none}
.community #more-trigger .trigger-down{width:138px;top:28px;left:-1px;font-size:14px;font-weight:normal;z-index:1000}
.community #more-trigger .trigger-down a{width:125px;_width:117px;padding:0 0 0 14px}

/**********过期样式************/
#nav-list li.rnav{float:right;background:none;font-weight:normal}
/**********过期样式************/
/*导航区“新”“热”Icon*/
#main-nav .new-icon{background-position:right -290px;margin-right:5px}
#main-nav .hot-icon{background-position:right -260px;margin-right:5px}

/********** advanced-nav ************/
#advanced-nav{height:35px;background-position:0 bottom;background-repeat:repeat-x}
#advanced-nav .nav-right{float:right;height:35px;width:3px;background-position:0 bottom}
#advanced-nav .advanced-cont{height:35px;padding-left:5px;background-position:-458px bottom}
#advanced-nav li{float:left;height:20px;margin-top:7px}
#advanced-nav li.subnav-right{float:right;font-size:12px;padding-right:8px;}
#advanced-nav li.subnav-right a{padding:0 4px;}
#advanced-nav .nav-rb{float:right;height:35px;width:3px;margin:0;background-position:0 bottom;font-size:0;line-height:0}
#advanced-nav a{float:left;height:20px;padding:0 12px;line-height:20px}
#advanced-nav .current{background-position:0 -80px}
#advanced-nav .current a{background-position:right -60px;text-decoration:none !important}

#advanced-nav.biznew{height:81px}
#advanced-nav.biznew .nav-right{height:81px}
#advanced-nav.biznew .advanced-cont{height:81px;padding-left:0}
#advanced-nav.biznew dt{float:left;padding:26px 4px 0 8px;width:22px;height:55px;background-position:0 -450px;font-weight:bold}
#advanced-nav.biznew dd{float:left;display:inline;margin:6px 0 0 -11px;font-family:"\5B8B\4F53"}
#advanced-nav.biznew dd a{float:left;display:inline;padding:0 0;margin:0 12px;height:22px;line-height:22px;background:none}
#advanced-nav.biznew .nav-rb{float:right;height:81px;margin:0}
#advanced-nav.biznew .nav-cont1{width:444px}
#advanced-nav.biznew .nav-cont2{width:240px}
#advanced-nav.biznew .nav-cont3{width:192px}
/*
********** 样式沿用 **********
*/
/*********** logo ***********/
#header .logo-search{height:81px;padding-top:15px;position:relative;z-index:200}
#header #logo{width:300px;float:left;margin-top:8px;padding-left:6px}
/*活动时使用的LOGO，33加*/
#header #logo-active{position:absolute;top:0;left:0px;width:300px;height:100px;overflow:hidden}
#header #logo a{float:left;width:280px;height:55px;background-position:0 -260px;text-indent:-9999px}
#header #yplan{position:absolute;width:142px;height:64px;top:4px;right:35px}
#header #yplan a{display:block;width:142px;height:64px;background:url(http://img.china.alibaba.com/images/homepage/index1001/yunplan2.jpg) no-repeat;text-indent:-9999px}
/* market logo */
#header.market #logo{background-position:149px -330px}
#header.market #logo a{background-position:9999px 9999px}
#header.market #logo .ali-logo{float:left;width:131px;height:55px;margin-right:18px;background-position:-151px -260px}
#header.market #logo .cloth-logo{float:left;width:144px;height:55px;background:url(http://img.china.alibaba.com/images/sys/head/cloth-logo.gif) no-repeat}

/* community logo */
#header.community #logo{margin-top:18px}
#header.community #logo a{background-position:9999px 9999px}
#header.community #logo .ali-logo{float:left;width:131px;height:42px;margin-right:6px;background-position:-160px -40px}
#header.community #logo .cmu-logo{float:left;width:auto;height:auto;margin-top:10px;color:#666 !important;text-decoration:none !important;font:bold 26px/1.2 "\5fae\8f6f\96c5\9ed1","\9ED1\4F53";text-indent:0}

/********** search ************/
#header #search-bar{margin:0 0 0 305px;height:75px;position:relative;z-index:201}
#header #search-nav{position:absolute;height:29px;top:0;left:0;z-index:202}
#header #search-nav li{float:left;display:inline;height:30px;text-align:center;line-height:30px}
#header #search-nav .w2{width:52px;}
#header #search-nav .w3{width:65px}
#header #search-nav .w4{width:82px}
#search-nav li.current{background-position:0 -230px}
#search-nav li a{display:block;padding:0 10px;height:30px}
#search-nav li a:link, #search-nav li a:visited{color:#06C}
#search-nav li a:hover{color:#FF7300}
#search-nav li.current a{background-position:right -230px}
#search-nav li.current a:link, #search-nav li.current a:visited, #search-nav li.current a:hover{color:#333;font-weight:bold;font-size:14px}
#header #search-bar legend{display:none}
#header #search-box{position:absolute;width:461px;height:43px;top:28px;left:0;background-position:0 -120px;z-index:201}
#header #search-input{width:360px;height:24px;line-height:24px;margin:10px 0 0 8px;border:0;font-size:14px}

/*For firefox3.5*/
#header #search-input, x:-moz-any-link, x:default{height:22px;*height:24px}
#header #search-input.gray{color:#CCC}
#header #search-submit{width:84px;height:32px;border:none;margin:1px 0 0 0;*margin:0 0 -1px 3px;*padding-top:4px;background:transparent;cursor:pointer;font-size:14px;font-weight:bold;color:#954200;text-shadow:#FFEC98 0 1px 0}
#header .search-tip{position:absolute;left:454px;top:35px;width:172px;height:18px;line-height:18px;color:#999;overflow:hidden}
#header .search-tip a:link, #header .search-tip a:visited{color:#999}
#header .search-tip a:hover{color:#ff7300}

#header .baike-search #search-box{background-position:0 -170px}
#header .baike-search #search-input{width:294px}
#header .baike-search #search-submit{width:73px}
#header .baike-search #baike-ask{width:73px;height:32px;border:none;margin:1px 0 0 0;*margin:0 0 -1px 3px;*padding-top:4px;background:transparent;cursor:pointer;font-size:14px;font-weight:bold;color:#954200;text-shadow:#FFEC98 0 1px 0}

#s-more{display:block;background:none;position:relative;z-index:999}
#s-more .trigger-base{float:left;position:relative}
#s-more .trigger-base a{float:left;padding-right:8px;background-position:right -407px;background-position:right -408px\9;_background-position:right -407px;color:#666 !important;text-decoration:none !important}
#s-more .trigger-down{display:none;position:absolute;width:52px;top:25px;left:0;background-position:-160px -420px}
#header #s-more .trigger-down li{float:none;display:block;height:22px;margin:0;vertical-align:bottom;line-height:22px}
#s-more .trigger-down a{float:left;display:inline;height:22px;padding:0;margin:0 0 0 12px;line-height:22px;overflow:hidden}
#s-more.cur .trigger-down{display:block}
#header #s-more .trigger-down .trigger-bottom{clear:both;width:100%;height:4px;background-color:#FFF;background-position:-220px -424px;border-bottom:0 none;font-size:0;line-height:0}

/*顶部banener*/
#top-gg{position:relative;height:32px;text-align:center;overflow:hidden}
#close-top-gg{background:url(http://img.china.alibaba.com/images/homepage/index1001/background1.png) no-repeat;width:17px;height:17px;overflow:hidden;text-indent:-2000px;background-position:-160px -575px;position:absolute;z-index:200;top:0;right:0;display:none;cursor:pointer}
/*扩充样式*/
#header.m-promotion #logo{width:300px;float:left;margin-top:8px;padding-left:6px}
#header.m-promotion #logo a{float:left;width:280px;height:55px;background-position:0 -260px;text-indent:-9999px}