/**
 */

#content,#doc{
    background-color: #ffffff;
}
html{
    background-color: #ffffff;
}
.dcms-box-nt{
    border:1px solid #7ba6c9;
    color:#409ad6;
    background-color: #fff;
    width:38px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}
.dcms-relative {
    position:relative;
} 

.message {
    padding-left:20px;
}

.message h2 {
   font-size:14px;
   font-weight:bold;
   padding-top:20px;
}
