#macro(showSelectTree $list,$defautval)
	#foreach($parent in $list)
		#set($subfirst=false)
		#set($sublast=false) 
		#if($foreach.count==0)
			#set($subfirst=true)
		#end
		#if($foreach.count==$list.size())
			#set($sublast=true)
		#end
		#showSubSelectTree($parent,$subfirst,$sublast,$defaultval) 
	#end
#end
#macro(showSubSelectTree $parent, $isfirst,$islast,$defaultval) 
	<option value="$parent.id" #if($defaultval==$parent.id) selected #end> 
			#loopPrint($parent.lev," │  ") #if($islast)└─#else├─#end $parent.resname
	</option>
	#set($sublist = $parent.sublist)
	#if($sublist)
		#foreach($sub in $sublist) 
			#set($subfirst=false)
			#set($sublast=false) 
			#if($foreach.count==0)
				#set($subfirst=true)
			#end
			#if($foreach.count==$sublist.size())
				#set($sublast=true)
			#end
			#showSubSelectTree($sub,$subfirst,$sublast,$defaultval) 
		#end
	#end
#end
#macro(loopPrint $count,$str)
  #if($count && $count>0)
	 #foreach($foo in [1..$count])$str#end
  #end
#end

#set ($group = $form.resinfo.defaultInstance)
<form method="post" id="info_post" name="info_post" action="$intraModule.setTarget("auth/res/addres.vm")"> 
	$csrfToken.hiddenField
	<input type="hidden" name="action" value="auth/res/res_action">
<div class="pad-lr-10"> 
	<div class="bk8"></div><div class="bk8"></div>
	<div class="pad_10">
		<div style='overflow-y:auto;overflow-x:hidden' class='scrolltable'>
            <table width="100%" cellspacing="0" class="table_form contentWrap"> 
                <tr>
                  <th width="80">所属分类</th>
                  <td>
                    <select name="$group.parentId.key">
                      <option value="0">顶级分类</option>
					  #showSelectTree($reslist,$group.parentId.value)
                    </select>
                  </td>
                </tr>
                <tr>
                  <th width="80"> 权限名称	  </th>
                  <td><input type="text" name="$group.resname.key" value="$!group.resname.value" class="input-text" size="50" /> 
                  </td>
                </tr>
            	<tr>
                  <th width="80">权限码</th>
                  <td><input type="text" name="$group.rescode.key" class="input-text"  value="$!group.rescode.value" size="80"> </td>
                </tr>
            	<tr>
                  <th width="80">链接地址</th>
                  <td><input type="text" name="$group.resurl.key" class="input-text"  value="$!group.rescode.value" size="80"> </td>
                </tr> 
            	<tr>
                  <th width="80">备注</th>
                  <td><textarea name="$group.memo.key" class="input-text" cols="80" rows="5">$!group.memo.value</textarea></td>
                </tr> 
            </table>
		</div>
		<div class="bk10"></div>
		<div class="btn">
			<input class="button" type="submit" name="event_submit_do_save_res" value="提交表单">
		</div> 
	</div>
</div></form> 