/**
 * @author springyu
 * @userfor 派生CELL功能CSS
 * @date 2012-2-1
 */

/*
 *
 */
.dcms-box-grid {
    height: 32px;
    margin: 0 auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.cell-nav {
    background-color: #b3dcfc;
}
/*
 * 页面属性样式重设
 */

.operation-nav .operation-content {
    width: 150px;
}
/* add by hongss on 2012.02.14 for 拖拽元素 */
#crazy-box-transport {
    display: none;
    position: absolute;
    z-index: 1000;
}
/* 属性设置  add by hongss on 2012.02.06 */
.module-form .dcms-input-text, .module-form .dcms-textarea {
    width: 260px;
}
/* 自适应　*/
.auto-size {
    line-height: 32px;
}
.auto-size .checkbox {
    height: 18px;
    vertical-align: middle;
}
.auto-size .width {
    width: 50px;
}
.module-form .auto-size label {
    margin-top: 0;
}
.module-form .module-upload {
    float: left;
    padding: 8px;
}
.module-form img {
    max-width: 130px;
    max-height: 100px;
}

.module-form form {
    float: left;
}
.module-form .page-color {
    display: inline-block;
    margin-top:8px;
}
 
/* add by hongss on 2012.05.08 for 选择宽度 */
.db-operation-nav .box-operation .module-navs {
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}
.db-operation-nav .box-operation a.grid-cell-base {
    color: #2571b0;
}
.box-layout-content .list-module-width li {
    padding: 0 0 0 8px;
    border: 1px solid #fff;
}
.box-layout-content .list-module-width li:hover {
    border: 1px solid #7ba6c9;
}
.box-layout-content .list-module-width .span-radio {
    vertical-align: -16px;
}
.box-layout-content .list-module-width .span-img {
    cursor: pointer;
}
.box-layout-content .list-module-width .span-img img {
    vertical-align: top;
}
.box-layout-content .tip-choose-width {
    position: absolute;
    top: 64px;
    left: 210px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    background-color: #dcdcdc;
    border-radius: 5px;
}
.box-layout-content .tip-choose-width .msg-choose-width {
    height: 30px;
    background: url(http://img.china.alibaba.com/cms/upload/other/dcms/arrow-blue.png) no-repeat center left;
    padding-left: 32px;
    white-space: nowrap;
    color: #000;
}
.box-create-module-tree {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #eee;
    min-width: 200px;
    -webkit-box-shadow: 0 0 0 1px #b0c6db inset;
    -moz-box-shadow: 0 0 0 1px #b0c6db inset;
    box-shadow: 0 0 0 1px #b0c6db inset;
    border: 2px solid #CDDCEA;
}
.catalog-btn {
    color: #409AD6;
    background-color: white;
    border-top: 1px solid #B0C6DB;
    border-left: 1px solid #B0C6DB;
    border-right: 1px solid #B0C6DB;
    border-bottom: 1px solid #6F849E;
    height: 24px;
    padding: 0px 8px;
    margin-right: 8px;
}
.close-tree .close-btn {
    display: inline-block;
    width: 15px;
    height: 16px;
    cursor: pointer;
}
.close-tree{
    float: right;
}
.tree-body{
    padding:0px 4px 4px 8px;
	height:130px;
	overflow-y:scroll;
}
.add-catalog-btn{
    
}
.add-catalog-btn:hover{
    background-color: #eee;
    cursor: pointer;
    color: #409AD6;
}
/*add by hongss on 2012.06.20*/
.cell-derive-attr {
    position:absolute;
    z-index:8;
}
.catalog-content{
    display: inline-block;
}
.catalog-content select{
    margin:0 3px;
    width:100px;
}

/*add by hongss on 2012.09.04 for 查看源码*/
.db-operation-nav .box-right { display:table-cell; padding-left:48px;}
.db-operation-nav .box-right a.dcms-box-grid-a { color:#4c6bac; }
#cell-view-code .cell-content { padding:8px; }
#cell-view-code .code-container { width:100%; height:180px; }
#cell-view-code .cell-header .node { padding-left:12px; color:#fff;}
#cell-view-code .cell-header .title { float:left; }
#cell-view-code .cell-header .close { float:right; width:16px; height:24px; background:url("http://img.china.alibaba.com/cms/upload/other/dcms/dcms-header.png") no-repeat -40px -44px;}
#cell-view-code .cell-header .close:hover { background-position:0px -44px;}

.dcms-box-clear:after {
    display: block;
    clear: both;
    height: 0;
    content: "\0020";
}
.dcms-box-clear {
    zoom: 1;
}
html{
	background-color:transparent !important;
}
#auto_gen_pic{
	margin-left:3px;
}
.pic-desc{
	display:inline-block;
	padding:0 4px;
}
