/** 基础样式 **/
#businessCard_member_float_title a,#businessCard_member .businessCard_member_tpicon_year, #businessCard_member .businessCard_member_lock, #businessCard_member .businessCard_sns_follow_null, #businessCard_member .businessCard_sns_follow_friend, #businessCard_member .businessCard_sns_follow_followed, #businessCard_member .businessCard_sns_follow_mutualFollowed, #businessCard_member .businessCard_member_ovauth_icon {
	background: url("http://img.china.alibaba.com/cms/upload/2012/736/553/355637_936034060.png") no-repeat scroll 0 -5000px transparent;
}
#businessCard_float_float_parent {
	width:402px;
}
#businessCard_member {
	font: 12px/20px Tahoma, Arial, "宋体", sans-serif;
}
#businessCard_member a {
	text-decoration: none;
}
#businessCard_member img {
	border: 0px;
}
#businessCard_member span {
	color: #333333;
}
#businessCard_member div {
	display: inline;
	float: left;
}
#businessCard_member ul {
	list-style: none outside none;
}
#businessCard_member li {
	float: left;
}
#businessCard_member .businessCard_word_break {
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/** 手机lock start **/
#businessCard_member .businessCard_member_lock {
	background-position: 0px -298px;
    display: inline-block;
    height: 16px;
    width: 16px;
}
#businessCard_little_float .businessCard_member_login_float span {
	color: #336699;
}
/** 手机lock end **/
/** 浮层外框start **/
#businessCard_member_float_parent {
	background: #A1A1A1;
	background: rgba(33, 33, 33, 0.4);
    padding: 4px;
    z-index: 1000;
}

#businessCard_member_float_title {
	width:100%;
	height: 30px;
	background-color:#f0f0f0;
	color:#666666;
	border-bottom: 1px solid #FFFFFF;
}
#businessCard_member_float_title span {
	float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 20px;
}
#businessCard_member_float_title a{
	background-position: 5px -416px;
    cursor: pointer;
    display: block;
    float: right;
    height: 22px;
    margin-top: 7px;
    overflow: hidden;
    padding: 0 8px 0 0;
    width: 21px;
}
#businessCard_member_float_title a:hover{
	background-position: 2px -479px;
}
/** 浮层外框end **/
/** 诚信通年限 start **/
#businessCard_member .businessCard_member_tpicon_year_1 {
	background-position: 0px 2px;
}
#businessCard_member .businessCard_member_tpicon_year_2 {
	background-position: 0px -18px;
}
#businessCard_member .businessCard_member_tpicon_year_3 {
	background-position: 0px -38px;
}
#businessCard_member .businessCard_member_tpicon_year_4 {
	background-position: 0px -58px;
}
#businessCard_member .businessCard_member_tpicon_year_5 {
	background-position: 0px -78px;
}
#businessCard_member .businessCard_member_tpicon_year_6 {
	background-position: 0px -98px;
}
#businessCard_member .businessCard_member_tpicon_year_7 {
	background-position: 0px -118px;
}
#businessCard_member .businessCard_member_tpicon_year_8 {
	background-position: 0px -138px;
}
#businessCard_member .businessCard_member_tpicon_year_9 {
	background-position: 0px -158px;
}
#businessCard_member .businessCard_member_tpicon_year_10 {
	background-position: 0px -178px;
}
#businessCard_member .businessCard_member_tpicon_year_11 {
	background-position: 0px -198px;
}
#businessCard_member .businessCard_member_tpicon_year_12 {
	background-position: 0px -218px;
}
#businessCard_member .businessCard_member_tpicon_year_13 {
	background-position: 0px -238px;
}
#businessCard_member .businessCard_member_tpicon_year_14 {
	background-position: 0px -258px;
}
#businessCard_member .businessCard_member_tpicon_year_15 {
	background-position: 0px -278px;
}
/** 诚信通年限 end **/
	/** 社区sns相关按钮基础样式 start **/
#businessCard_member .businessCard_sns a {
	text-decoration: none;
	display: block;
	height: 20px;
	float: right;
}
#businessCard_member .businessCard_sns s {
	display: inline-block;
	width: 12px;
	height: 16px;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
}
#businessCard_member .businessCard_sns .businessCard_sns_follow_cancel {
	border-left: 1px solid #b7b9bb;
	padding-left: 8px;
	margin-right: 11px;
	color: #336699;
}
#businessCard_member .businessCard_sns a:hover .businessCard_sns_follow_cancel{
	color: #FF7300;
	text-decoration: underline;
}
#businessCard_member .businessCard_sns_follow_status {
	margin-left: 18px;
}
#businessCard_member .businessCard_sns_follow_null {
	background-position: 5px -394px;
	background-color: #75a0e7;
	height: 20px;
	width: 57px;
	display: none;
	border: 1px solid #5377b2;
}
#businessCard_member .businessCard_sns_follow_null a {
	color: #FFFFFF;
	float: left;
}
#businessCard_member .businessCard_sns_follow_null span {
	color: #FFFFFF;
}
#businessCard_member .businessCard_sns_follow_friend {
	background-position: 5px -374px;
	display: none;
	height: 20px;
	width: 68px;
	background-color: #75a0e7;
	border: 1px solid #5377b2;
}
#businessCard_member .businessCard_sns_follow_friend a {
	color: #FFFFFF;
	float: left;
}
#businessCard_member .businessCard_sns_follow_friend span {
	color: #FFFFFF;
}
#businessCard_member .businessCard_sns_follow_friend .businessCard_sns_follow_status {
	border-left: 1px solid #6082b8;
	padding-left: 8px;
	margin-left: 20px;
}
#businessCard_member .businessCard_sns_follow_mutualFollowed {
	background-position: 5px -356px;
	border: 1px solid #aeaeae;
	background-color: #fefefe;
	color: #FFFFFF;
	width: 122px;
	height: 20px;
	display: none;
}
#businessCard_member .businessCard_sns_follow_mutualFollowed .businessCard_sns_follow_status {
	color: #666666;
	margin-left: 22px;
	padding-right: 4px;
	float: left;
}
#businessCard_member .businessCard_sns_follow_followed {
	background-position: 5px -434px;
	border: 1px solid #aeaeae;
	background-color: #fefefe;
	color: #FFFFFF;
	width: 108px;
	height: 20px;
	display: none;
}
#businessCard_member .businessCard_sns_follow_followed .businessCard_sns_follow_status {
	color: #666666;
	margin-left: 20px;
	padding-right: 4px;
	float: left;
}
/** 社区sns相关 end **/
/** 旺旺相关基础样式 start **/
#businessCard_member a.alitalk {
	background: url("http://img.china.alibaba.com/images/fdevlib/contact-icon.gif") no-repeat scroll 0 -5000px transparent;
	color: #00349A;
	display: inline-block;
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	margin-bottom: 0;
	padding-bottom: 2px;
	padding-left: 21px;
	padding-top: 0;
	text-decoration: none !important;
	vertical-align: middle;
	width: 57px;
}
#businessCard_member a.alitalk:hover {
	color: #FF7300;
	text-decoration: none;
}
#businessCard_member a.alitalk-on {
	background-position: 0 -60px;
}
#businessCard_member a.alitalk-on:hover {
	background-position: -90px -60px;
}
#businessCard_member a.alitalk-off {
	background-position: 0 -30px;
}
#businessCard_member a.alitalk-off:hover {
	background-position: -90px -30px;
}
#businessCard_member a.alitalk-mb {
	background-position: 0 0;
}
#businessCard_member a.alitalk-mb:hover {
	background-position: -90px 0;
}
/** 旺旺相关基础样式 end **/
/** 扩展块icon start **/
#businessCard_member .businessCard_member_icon img {
	float: left;
}
#businessCard_member .businessCard_member_icon span {
	margin-left: 8px;
	line-height: 18px;
	color: #666666;
	cursor: pointer;
	float: left;
}
/** 扩展块icon end **/
/** 一般的div基础样式，这里只定义宽高内外边距，保证基本定位 start**/
#businessCard_member .businessCard_member_inner_frame {
	width: 400px;
}
#businessCard_member .businessCard_member_pic {
	width: 68px;
	height: 68px;
	margin-left: 20px;
	margin-top: 16px;
}
#businessCard_member .businessCard_member_pic_img {
	width: 64px;
	height: 64px;
	padding: 2px;
}
#businessCard_member .businessCard_member_title {
	width: 280px;
	margin-top: 16px;
	margin-left: 12px;
}
#businessCard_member .businessCard_member_name {
	max-width:106px;
	_width:106px;
}
#businessCard_member .businessCard_member_gender {
	margin-left: 14px;
}
#businessCard_member .businessCard_member_department {
	margin-left: 8px;
}
#businessCard_member .businessCard_member_department .businessCard_member_department_name {
	max-width: 100px;
	_width:100px;
}
#businessCard_member .businessCard_member_department span {
	float: left;
}
#businessCard_member .businessCard_member_sns_status {
	height: 20px;
	width: 280px;
	margin-left: 12px;
}
#businessCard_member .businessCard_member_mobileno {
	margin-left: 12px;
	width: 280px;
}
#businessCard_member .businessCard_member_company {
	width: 360px;
	margin: 12px 20px 0 20px;
}
#businessCard_member .businessCard_member_companyname {
	max-width: 200px;
	_width:200px;
	margin-right: 8px;
	margin-bottom: 4px;
}
#businessCard_member .businessCard_member_company_icons {
	margin-bottom: 4px;
}
#businessCard_member .businessCard_member_ovauth {
	margin-right: 8px;
}
#businessCard_member .businessCard_member_ovauth_icon {
	height: 16px;
	width: 16px;
}
#businessCard_member .businessCard_member_company_icon {
	margin-right: 8px;
}
#businessCard_member .businessCard_member_tpicon {
	width: 90px;
	margin-right: 4px;
	margin-top: 2px;
}
#businessCard_member .businessCard_member_tpicon img {
	width: 39px;
	height: 16px;
}
#businessCard_member .businessCard_member_tpicon_year {
	height: 18px;
	width: 46px;
	display: inline-block;
	margin-left: 2px;
}

#businessCard_member .businessCard_member_address {
	width: 380px;
	margin-left: 20px;
	margin-top: 5px;
}
#businessCard_member .businessCard_member_address span {
	float: left;
}
#businessCard_member .businessCard_member_address_full {
	max-width: 256px;
	margin-left:3px;
	_width:256px;
}
#businessCard_member .businessCard_member_address_zipcode {
	margin-left: 3px;
}
#businessCard_member .businessCard_member_phone {
	margin-left: 20px;
	margin-top: 2px;
	width: 170px;
}

#businessCard_member .businessCard_member_fax {
	margin-left: 20px;
	margin-top: 2px;
	width: 170px;
}
#businessCard_member .businessCard_member_icons {
	margin-left: 20px;
	margin-top: 14px;
	width: 380px;
}
#businessCard_member .businessCard_member_icon {
	padding-right: 24px;
}
#businessCard_member .businessCard_member_contact {
	height: 37px;
	width: 400px;
	margin-top: 18px;
}
#businessCard_member .businessCard_alitalk {
	margin-left: 20px;
	margin-top: 8px;
}

#businessCard_member .businessCard_sns {
	margin-right: 12px;
	margin-top: 8px;
	height: 22px;
}
/** 一般的div基础样式，这里只定义宽高内外边距，保证基本定位 end**/
/** 默认的自定义样式 请覆盖前面的div基本样式**/
#businessCard_member .businessCard_member_default {
	border: 1px solid #d9d9d9;
	width: 400px;
}
#businessCard_member .businessCard_member_default .businessCard_member_inner_frame {
	width: 400px;
	color: #333333;
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#businessCard_member .businessCard_member_default .businessCard_member_pic {
	width: 68px;
	height: 68px;
	border: 1px solid #cccccc;
	margin-left: 20px;
	margin-top: 16px;
}
#businessCard_member .businessCard_member_default .businessCard_member_pic_img {
	width: 64px;
	height: 64px;
	padding: 2px;
}
#businessCard_member .businessCard_member_default .businessCard_member_title {
	width: 280px;
	margin-top: 16px;
	margin-left: 12px;
}
#businessCard_member .businessCard_member_default .businessCard_member_name {
	color: #336699;
	max-width: 106px;
	_width:106px;
	font-size: 16px;
	font-weight: bold;
	float: left;
}
#businessCard_member .businessCard_member_default .businessCard_member_name span {
	color: #336699;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}
#businessCard_member .businessCard_member_default .businessCard_member_gender {
	float: left;
	margin-left: 14px;
	line-height: 24px;
}
#businessCard_member .businessCard_member_default .businessCard_member_department {
	margin-left: 8px;
	line-height: 24px;
	float: left;
}
#businessCard_member .businessCard_member_default .businessCard_member_department .businessCard_member_department_name {
	max-width: 100px;
	_width:100px;
}
#businessCard_member .businessCard_member_default .businessCard_member_department span {
	float: left;
}
#businessCard_member .businessCard_member_default .businessCard_member_sns_status {
	height: 20px;
	width: 280px;
	margin-left: 12px;
}
#businessCard_member .businessCard_member_default .businessCard_member_mobileno {
	margin-left: 12px;
	width: 280px;
}
#businessCard_member .businessCard_member_default .businessCard_member_company {
	width: 360px;
	margin: 11px 20px 0 20px;
	border-bottom: 1px solid #efefef;
}
#businessCard_member .businessCard_member_default .businessCard_member_companyname {
	float: left;
	max-width: 222px;
	_width:222px;
	font-weight: bold;
	margin-right: 8px;
	margin-bottom: 4px;
}
#businessCard_member .businessCard_member_default .businessCard_member_company_icons {
	margin-bottom: 4px;
}
#businessCard_member .businessCard_member_default .businessCard_member_ovauth {
	float: left;
	margin-right: 8px;
	margin-top:2px;
}
#businessCard_member .businessCard_member_default .businessCard_member_ovauth_icon {
	background-position: 0px -320px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
#businessCard_member .businessCard_member_default .businessCard_member_company_icon {
	float: left;
	margin-right: 8px;
	margin-top:1px;
}
#businessCard_member .businessCard_member_default .businessCard_member_tpicon {
	width: 90px;
	float: left;
	margin-top: 2px;
	margin-right: 4px;
}
#businessCard_member .businessCard_member_default .businessCard_member_tpicon img {
	float: left;
}
#businessCard_member .businessCard_member_default .businessCard_member_tpicon_year {
	height: 18px;
	width: 46px;
	display: inline-block;
	margin-left: 2px;
	float: left;
	cursor: pointer;
}

#businessCard_member .businessCard_member_default .businessCard_member_address {
	width: 380px;
	margin-left: 20px;
	margin-top: 4px;
}
#businessCard_member .businessCard_member_default .businessCard_member_address span {
	float: left;
}
#businessCard_member .businessCard_member_default .businessCard_member_address_full {
	margin-left:3px;
	max-width: 256px;
	_width:256px;
}
#businessCard_member .businessCard_member_default .businessCard_member_address_zipcode {
	margin-left: 3px;
}
#businessCard_member .businessCard_member_default .businessCard_member_phone {
	margin-left: 20px;
	margin-top: 2px;
	width: 170px;
}
#businessCard_member .businessCard_member_default .businessCard_member_fax {
	margin-left: 20px;
	margin-top: 2px;
	width: 170px;
}
#businessCard_member .businessCard_member_default .businessCard_member_icons {
	margin-left: 20px;
	margin-top: 8px;
	width: 380px;
}
#businessCard_member .businessCard_member_default .businessCard_member_icon {
	float: left;
	padding-right: 24px;
}
#businessCard_member .businessCard_member_default .businessCard_member_contact {
	height: 37px;
	width: 400px;
	margin-top: 16px;
	background-color: #efefef;
}
#businessCard_member .businessCard_member_default .businessCard_alitalk {
	margin-left: 20px;
	margin-top: 8px;
	float: left;
}

#businessCard_member .businessCard_member_default .businessCard_sns {
	float: right;
	margin-right: 20px;
	margin-top: 8px;
	height: 22px;
	position: relative;
}