
.table-sub .th1{
    width: 50px;
}

.table-sub .th2{
     width: 250px; 
}



.head-blank{
    height: 5px;
}

.content{
	width: 990px;
	padding-bottom: 46px;
}

.libra-content{padding-top:10px;}
.condition {
	margin-bottom: 10px;
	background-color: #f2f2f2;
	padding: 0px 0px 0px 0px;
}

.seach-row {
	height: 40px;
	line-height: 40px;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 20px;
}


.dialog-add-pinlei{
	width: 400px;
}

.mg-20{
	margin-left: 20px;
}

.dialog-delete-pinlei{
	width: 400px;
}

.dialog-basic .dialog-content{
	margin-top: 10px;
	height: 40px;
}