$rundata.setLayoutEnabled(false)
<div>
	<div class="form-vertical dcms-form">
	<form id="role-submit-form" method="POST" action="#">
		 <input type="hidden" name="action" value="AclRoleAction"/>
	     <input type="hidden" name="event_submit_do_createRole" id="event" value="true"/>		
		 <input type="hidden" name="id" id="id" value="$!role.id"/>  
			<dl class="item-form">
                <!-- 加class名“must-fill”，则自动加上必选标识(红色星号) -->
                <dt class="topic must-fill">角色名称：</dt>  
                <dd>
                    <!-- "data-valid"用于验证信息配置，所以需要验证的表单元素都需要加此属性 -->
                    <input data-valid="{required:true,key:'角色名称'}" value="$!role.name"  name="name"   id="name" type="text"   maxlength="50" placeholder="请填写权限角色名称" />
                    <!-- 错误信息提示框，加上"validator-error"class显示错误信息，去除此class则隐藏错误信息 -->
                    <!-- 当错误信息需要同输入框在一行内显示时，放在同一个dd内 -->
                    <span class="dcms-validator-tip">角色名称不能为空</span>
                </dd>
            </dl>
			<dl class="item-form">
                <dt class="topic">角色类型：</dt>  
                <dd>
                    <select name="lev" id="lev">							
							<option value="1" #if("$!role.lev" == "1") selected #end>系统管理员</option>
							<option value="10" #if("$!role.lev" == "10") selected #end>站点管理员</option>
							<option value="100" #if("$!role.lev" == "100") selected #end>其他类型角色</option>
                    </select> 
                </dd>
			</dl> 
			<dl class="item-form">
                <dt class="topic">站点类型：</dt>  
                <dd>
                    <select name="isOutsite" id="isOutsite">							
							<option value="0" #if("$!role.isOutsite" == "0") selected #end>内站点角色</option>
							<option value="1" #if("$!role.isOutsite" == "1") selected #end>外站角色</option>							
                    </select> 
                </dd>
			</dl> 
			<dl class="item-form">
                <dt class="topic">描述：</dt>  
                <dd>
                    <input data-valid="{key:'角色描述'}" value="$!role.description"  name="description"   id="description"  type="text"  maxlength="50" placeholder="请填写角色描述" />
                    <span class="dcms-validator-tip"></span>
                </dd>
			</dl> 
	</form>
	</div>
</div>