$rundata.setLayout('default.vm') 
<div class="dcms-box-body fd-clr"> 
	<!-- header begin -->
    <div class="head"> 
		<form method="post" id="js-search-page" name="" action="">
			<input type="hidden" name="action" value="UserAction">
			<input type="hidden" name="event_submit_do_user_list" value="true" id="dcms-form-event-type">
			<input type="hidden" name="page" id="js-page-num" value="1"> 
            <div class="searchbar"> 	 
				<input type="text" class="keyword" name="name" id="name" placeholder="请输入用户名或姓名" value="$!name"/>
				
				<input type="submit" class="search-btn btn-basic btn-gray" id="search-btn" value="搜索"/>
				<a  class="btn-basic btn-blue" id="add_user" >添加</a>
             </div>
             <div class="sortbar"> 
                <div class="simple-page">
                    #unifiedPageSimpleList($paginator)
                </div>			
	        </div> 
	 	</form>
    </div>
	<!-- header end -->
	<!-- body begin -->
	<div class="pl-body fd-clr">
	 	<div class="dcms-box-list">
			#if($list && $list.size() > 0)
				<table  class="page-tab table-sub">
					<thead>
						<tr>
                            <th class="td-user-name">姓名</th>
							<th class="td-user-id">用户ID</th> 
                            <th class="td-update-date">更新日期</th>
                            <th class="td-user-state">是否激活</th>				
							<th class="operator">操作</th>
						</tr>
					</thead>
					<tbody class="page-body">		
					   #foreach( $user in $list)
						<tr>     
							<td class="system">$!user.fullName</td> 
						    <td class="des">$!user.userId</td>
							<td>$!{dateUtil.toLocaleString($user.gmtModified, "yyyy-MM-dd HH:mm")}</td> 
							<td>#if('1' == $!user.status) 已启用 #end #if('0' == $!user.status) <a href="#" class="js-user-active">已禁用</a> #end</td>
							<td class="operator">
								<a class="js-modification operate-btn"  data-id="$!{user.id}">修改</a>
								<!--<a class="js-delete operate-btn" data-status="invalid" data-id="$!{user.id}">删除</a>-->
							</td>
						</tr>
						#end
					</tbody>
				</table>
			#else
				<div class="dcms-box-no-result">目前没有用户信息!</div>
			#end
		</div>
     </div>
     <!-- body end -->
	 #if( $paginator && $paginator.pages>0 )
		<div class="pages fd-clr" align="center">
			#unifiedPageList($paginator, 5)
		</div>
	 #end 
</div> 
 