.dcms-grid{
    border-collapse: separate;
    border-spacing: 0;
    width: 768px;
    /*line-height: 28px;*/
    table-layout:fixed;
    border: 1px solid #b7c3dd;
}

.dcms-grid tbody{
    /*border: 1px solid #b7c3dd;
    border-top: 0 none;*/
}
.dcms-grid tbody td{
    border-bottom: 1px solid #f4f4f4;
    /*text-indent:8px;
    height: 16px;*/
    line-height:16px;
    padding:6px 0 6px 8px;
}
.dcms-grid tbody tr:last-child td{
    /*border-bottom: 1px solid #b7c3dd;*/
}
.dcms-grid th{
    height: 28px;
    border: 1px solid #adbcdc;
    background-color: #adbcdc;
    color: #FFF;
    /*padding-left:6px;*/
    text-indent:12px;
    text-align:left;
}
.dcms-grid tbody tr:hover td{
    background-color: #e7edfa;
    color: #445e95;
}
.dcms-operational-grid tr:hover .dcms-grid-operations-wrap{
    
}
.dcms-grid-operations-wrap{
    display: none;
    position: relative;
    float: right;
    width:0;
    height:0;
}

.dcms-grid-operations{
    position: absolute;
    top: -22px;
    right: 0;
}
.dcms-grid-operations li{
    float: left;
    background-color: #8a9ec7;
    line-height: 22px;
    text-indent:0;
}
.dcms-grid-operations a{
    display: inline-block;
    height: 22px;
    padding: 0 8px;
}
.dcms-grid-operations a:link,
.dcms-grid-operations a:visited{
    color: #FFF;
}
.dcms-grid-operations a:hover,
.dcms-grid-operations a:active{
    text-decoration: none;
    color: #FF7300;
}